Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Revise the legal pages and add misc adjustments to the UI
  app/about/page.tsx
  app/legal/page.tsx
  app/privacy/page.tsx
  app/subscribe/thank-you/page.tsx
  app/uses/page.tsx
  components/footer/Footer.tsx
  components/newsletter/Newsletter.tsx
  components/newsletter/NewsletterForm.tsx
  components/posts/AboutAuthor.tsx
  components/posts/Comments.tsx
  components/posts/Giscus.tsx
  components/ui/forms/Button.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Feed.tsx
  components/ui/typography/Paragraph.tsx
  content/pages/legal-notice.mdx
  content/pages/legal.mdx
  content/pages/privacy.mdx
  content/posts/2019-year-in-review.mdx
  contentlayer.config.ts
  lib/mdx.tsx
  tailwind.config.ts
Due: eslint --fix

Further tweaks and adjustments to mdx elements
  components/appearances/AppearancesFeed.tsx
  components/navigation/ThemeSelect.tsx
  components/newsletter/NewsletterForm.tsx
  components/ui/elements/CopyToClipboard.tsx
  components/ui/elements/IconButton.tsx
  contentlayer.config.ts
  lib/mdx.tsx
  lib/rehype.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update lock file
  pnpm-lock.yaml
Due: none

Fix typings & more dark mode adjustments
  components/appearances/AppearanceCard.tsx
  components/appearances/EventAppearances.tsx
  components/appearances/EventLocation.tsx
  components/appearances/EventWebsite.tsx
  components/ui/typography/Lead.tsx
  components/ui/typography/Paragraph.tsx
  lib/events.ts
Due: eslint --fix

Tons of updates
  app/about/page.tsx
  app/layout.tsx
  app/manifest.webmanifest/route.tsx
  app/og.png/route.ts
  app/page.tsx
  app/posts/[slug]/page.tsx
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-Regular.ttf
  assets/fonts/Inter.var.woff2
  assets/images/og-post.png
  assets/images/og.png
  components/newsletter/NewsletterForm.tsx
  components/ui/layout/Content.tsx
  components/ui/layout/Html.tsx
  lib/constants.ts
  lib/metadata.ts
  lib/newsletter.ts
  package.json
  pages/api/og.tsx
  pnpm-lock.yaml
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
Due: eslint --fix, prettier --write

Upgrade packages and remove resolved TODO
  components/ui/typography/H1.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix typings in `useIsActivePathname` hook
  hooks/useIsActivePathname.ts
Due: eslint --fix

Load open graph images as static assets
  pages/api/og.tsx
  public/images/og-post.png
  public/images/og.png
Due: eslint --fix

Simplify title generation and remove `composeTitle` function
  app/about/page.tsx
  app/appearances/[slug]/page.tsx
  app/appearances/page.tsx
  app/layout.tsx
  app/legal/page.tsx
  app/posts/[slug]/page.tsx
  app/posts/page.tsx
  app/privacy/page.tsx
  app/subscribe/confirm/page.tsx
  app/subscribe/thank-you/page.tsx
  app/talks/[slug]/page.tsx
  app/talks/page.tsx
  app/uses/page.tsx
  app/workshops/[slug]/page.tsx
  app/workshops/page.tsx
  lib/metadata.ts
Due: eslint --fix

Use otf fonts instead of ttf
  app/og.png/route.ts
  assets/fonts/Inter-Bold.otf
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-Regular.otf
  assets/fonts/Inter-Regular.ttf
  pages/api/og.tsx
Due: eslint --fix

Test remove content from og image
  pages/api/og.tsx
Due: eslint --fix

Temporarily disable regular font
  pages/api/og.tsx
Due: eslint --fix

Render `Analytics` component in root layout
  app/layout.tsx
Due: eslint --fix

Add `prisma/.env.example`
  prisma/.env.example
Due: none

Update `README.md`
  README.md
Due: prettier --write

Add regular font
  pages/api/og.tsx
Due: eslint --fix

Use Inter font from Google Fonts & subset local fonts for OG
  assets/fonts/Inter-Bold.otf
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-Regular.otf
  assets/fonts/Inter-Regular.ttf
  assets/fonts/Inter.var.woff2
  components/ui/layout/Html.tsx
  pages/api/og.tsx
Due: eslint --fix

Center OG titles
  pages/api/og.tsx
Due: eslint --fix

Convert excerpt to description
  app/posts/[slug]/page.tsx
  components/home/Posts.tsx
  components/posts/PostsFeed.tsx
  components/ui/layout/Feed.tsx
  content/posts/2019-year-in-review.mdx
  content/posts/breaking-into-ai-as-a-web-developer.mdx
  content/posts/building-a-blog-with-next-13-contentlayer-and-tailwind.mdx
  content/posts/five-quick-tips-to-level-up-your-vscode-configuration.mdx
  content/posts/fully-type-safe-polymorphic-react-component.mdx
  content/posts/how-to-disable-code-splitting-in-webpack.mdx
  contentlayer.config.ts
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revamp OG image generation
  app/og/route.ts
  pages/api/og.tsx
  public/images/og-content.png
  public/og.png
Due: eslint --fix

Upgrade TypeScript to 5.0.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use file based manifest instead of route
  app/manifest.ts
  app/manifest.webmanifest/route.tsx
Due: eslint --fix

Use file-based meta data
  app/android-chrome-192x192.png
  app/android-chrome-512x512.png
  app/apple-icon.png
  app/icon.ico
  app/icon.png
  app/layout.tsx
  app/manifest.ts
Due: eslint --fix

Use compressed images for og images
  public/images/og-content.png
  public/og.png
Due: none

Add reference to `manifest.webmanifest`
  app/layout.tsx
Due: eslint --fix

Rename to just `images`
  app/layout.tsx
Due: eslint --fix

Fix hero avatar border & remove unused view transition name class
  components/avatar/Avatar.tsx
Due: eslint --fix

Add skip navigation link
  components/navigation/Navbar.tsx
  components/ui/elements/SkipNavigationLink.tsx
  components/ui/layout/Main.tsx
Due: eslint --fix

Add priority to image
  app/about/page.tsx
Due: eslint --fix

Drop manifest
  app/android-chrome-192x192.png
  app/android-chrome-512x512.png
  app/layout.tsx
  app/manifest.ts
Due: eslint --fix

Improve color contrast and accessibility
  components/footer/Footer.tsx
  components/navigation/MenuLink.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
  components/ui/link/ActionLink.tsx
Due: eslint --fix

Forward `ref` to button element in `IconButton`
  components/ui/elements/IconButton.tsx
Due: eslint --fix

Temporarily use concurrently to fix generating contentlayer artifacts in Next 13.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove pointer events when skip navigation link is not in focus
  components/ui/elements/SkipNavigationLink.tsx
Due: eslint --fix
