Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Update dependency react-use to v10.6.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency dotenv to v8.1.0
  package.json
  yarn.lock
Due: prettier --write

Add more events
  content/events/181011-react-vienna.mdx
  content/events/181019-graphql-finland.mdx
  content/events/181207-react-munich.mdx
  content/events/190226-react-houston.mdx
  content/events/190405-jsfest.mdx
Due: none

Update dependency react-use to v10.6.2
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.3.1
  package.json
  yarn.lock
Due: prettier --write

Update talk events
  content/events/181011-react-vienna.mdx
  content/events/181019-graphql-finland.mdx
  content/events/181207-react-munich.mdx
  content/events/190225-houston-js.mdx
  content/events/190226-react-houston.mdx
  content/events/191007-js-sphere-it.mdx
Due: none

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

More talk events
  content/events/181205-frontend-con.mdx
  content/events/181205-js-poland.mdx
  content/events/190206-ct-webdev.mdx
  content/events/191126-frontend-con.mdx
Due: none

Aaaand more talk events
  content/events/170503-vienna-js.mdx
  content/events/170519-react-europe.mdx
Due: none

Add remaining talk events
  content/events/170118-react-vienna.mdx
  content/events/170125-react-zurich.mdx
  content/events/170922-frontend-con.mdx
  content/events/170930-react-alicante.mdx
  content/events/171125-devfest-vienna.mdx
  content/events/171129-vienna-js.mdx
  content/events/190206-ct-webdev.mdx
Due: none

Drop description
  src/pages/blog.mdx
Due: none

Update dependency react-use to v10.6.4
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-config-prettier to v6.1.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10.7.0
  package.json
  yarn.lock
Due: prettier --write

Update eslint
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/react-dom to v16.9.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.68
  package.json
  yarn.lock
Due: prettier --write

Fix order
  src/components/events.tsx
Due: eslint --fix

Use date lib
  src/components/footer.tsx
Due: eslint --fix

Tweak types
  gatsby-node.js
Due: prettier --write

Fix types
  gatsby-node.js
Due: prettier --write

Add events information to talk page
  src/icons/calendar.svg
  src/icons/code.svg
  src/icons/flash.svg
  src/icons/pin.svg
  src/icons/play.svg
  src/templates/talk.tsx
  src/theme.ts
  src/types/generated/graphql.ts
Due: eslint --fix

Mini tweaks
  src/templates/talk.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Fix siteUrl
  gatsby-config.js
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.70
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint to v6.2.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.71
  package.json
  yarn.lock
Due: prettier --write
