Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add table styles
  src/components/mdx/index.js
  src/components/mdx/table.js
  src/posts/hello-world/index.md
Due: prettier --write

Add header anchors
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-react to v7.14.3
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.35
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/react-dom to v16.8.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.36
  package.json
  yarn.lock
Due: prettier --write

Add custom header anchors
  gatsby-browser.js
  gatsby-config.js
  package.json
  src/components/layout.tsx
  src/components/mdx/headings.js
  src/components/mdx/index.js
  src/hooks/useAnchor.jsx
  src/hooks/useSlug.jsx
  src/icons/link.svg
  src/posts/hello-world/index.md
  src/types/github-slugger.d.ts
  src/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

Pin dependencies
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.38
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.39
  package.json
  yarn.lock
Due: prettier --write

Upgrade react-use
  package.json
  yarn.lock
Due: prettier --write

Adjust anchor offset
  src/components/mdx/headings.js
Due: prettier --write

Update graphql typings
  src/types/generated/graphql.ts
Due: eslint --fix

Update font stack
  src/theme.ts
Due: eslint --fix

Fix inline code styles
  src/components/mdx/code.js
  src/components/mdx/headings.js
  src/components/mdx/index.js
  src/components/mdx/link.js
  src/components/mdx/list-item.js
  src/components/mdx/paragraph.js
  src/components/mdx/pre.jsx
  src/posts/hello-world/index.md
Due: prettier --write

Convert to tsx
  src/components/mdx/blockquote.tsx
  src/components/mdx/break.tsx
  src/components/mdx/code.tsx
  src/components/mdx/headings.tsx
  src/components/mdx/index.tsx
  src/components/mdx/link.tsx
  src/components/mdx/list-item.tsx
  src/components/mdx/ordered-list.tsx
  src/components/mdx/paragraph.tsx
  src/components/mdx/pre.tsx
  src/components/mdx/table.tsx
  src/components/mdx/unordered-list.tsx
Due: eslint --fix

Adjust heading typography
  src/components/mdx/headings.tsx
Due: eslint --fix

Drop unused heading component
  src/components/heading.tsx
  src/templates/post/header.jsx
Due: eslint --fix

Fix slugger
  gatsby-browser.js
  src/components/mdx/index.tsx
  src/components/mdx/wrapper.tsx
Due: eslint --fix, prettier --write

Move typings to dev dependencies
  package.json
Due: prettier --write

Convert more files to ts
  src/components/mdx/code.tsx
  src/components/mdx/index.tsx
  src/templates/post/header.tsx
  src/templates/post/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

TS fixes
  gatsby-node.js
  src/components/mdx/index.tsx
  src/components/mdx/pre.tsx
  src/templates/post/header.jsx
  src/templates/post/index.jsx
Due: eslint --fix, prettier --write

More code padding
  src/components/mdx/code.tsx
Due: eslint --fix

Covert to tsx
  src/hooks/useAnchor.tsx
  src/hooks/useSlug.tsx
Due: eslint --fix

Fix typings
  src/hooks/useAnchor.tsx
  src/hooks/useSlug.tsx
  src/utils.ts
Due: eslint --fix

Fix anchor positioning
  src/components/mdx/headings.tsx
Due: eslint --fix

Update dependency lint-staged to v9.2.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10.2.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
