Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Migrate from Prisma + Postgres to Drizzle + Turso
  components/appearances/appearances-feed.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-lead.tsx
  components/appearances/event-location.tsx
  components/appearances/event-website.tsx
  components/talks/talks-feed.tsx
  components/workshops/workshops-feed.tsx
  drizzle.config.ts
  drizzle/schema.ts
  lib/db.ts
  lib/events.ts
  lib/mcp.test.ts
  lib/place.ts
  lib/posts.test.ts
  lib/prisma.ts
  lib/talks.ts
  lib/workshops.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.ts
  test.db
  vitest.config.ts
Due: eslint --fix, prettier --write

Remove Prisma references from documentation and CI workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

Simplify MDXContent component by removing unused options merging
  components/ui/mdx/mdx-content.tsx
Due: eslint --fix

Run formatter and fix linting issues
  components/appearances/appearances-feed.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-lead.tsx
  components/appearances/event-location.tsx
  components/appearances/event-website.tsx
  components/talks/talks-feed.tsx
  components/workshops/workshops-feed.tsx
  drizzle/schema.ts
  lib/events.ts
Due: eslint --fix

Remove all Prisma references from codebase
  .gitignore
  AGENTS.md
  content/posts/2023-rebuild.mdx
Due: prettier --write

Remove docker-compose.yaml
  docker-compose.yaml
Due: none

Upgrade to Next.js and React canary versions
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add noStore() to Posts and Appearances components
  components/home/appearances.tsx
  components/home/posts.tsx
Due: eslint --fix

Add loading skeletons for Posts and Appearances
  components/home/appearances-loading.tsx
  components/home/posts-loading.tsx
Due: eslint --fix

Implement Partial Prerendering (PPR) on home page
  app/page.tsx
Due: eslint --fix

Add database maintenance script for Turso
  scripts/update-db.ts
Due: eslint --fix

Add critical rules section to CLAUDE.md
  CLAUDE.md
  scripts/update-db.ts
Due: eslint --fix, prettier --write

Fix Server Action toast notifications with timestamp tracking
  app/subscribe/action.ts
  app/subscribe/route.ts
  components/newsletter/newsletter-form.tsx
Due: eslint --fix

Add bundle analyzer for monitoring bundle size
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add security headers to Next.js config
  next.config.ts
Due: eslint --fix

Set up Storybook 9 with Next.js integration
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

Add Storybook stories for core UI components
  components/ui/elements/badge.stories.tsx
  components/ui/forms/button.stories.tsx
  components/ui/layout/card.stories.tsx
  components/ui/link/link.stories.tsx
Due: eslint --fix

Add Playwright E2E tests for critical user flows
  .github/workflows/e2e.yml
  e2e/navigation.spec.ts
  e2e/newsletter.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

Linting fixes
  .gitignore
  .storybook/main.ts
Due: eslint --fix

Simplify newsletter form by removing useEffect and useActionState
  app/subscribe/action.ts
  components/newsletter/newsletter-form.tsx
Due: eslint --fix

Remove git hooks and enhance testing infrastructure
  AGENTS.md
  components/newsletter/newsletter-form.test.tsx
  package.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

Improve accessibility and refactor to pure black/white design
  app/globals.css
  components/navigation/menu-link.tsx
  components/navigation/menu.tsx
  components/ui/elements/icon-button.tsx
  lib/mdx/components.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Apply full width styling to video tags in blog posts
  lib/mdx/components.tsx
Due: eslint --fix

Add comprehensive accessibility testing and security enhancements
  AGENTS.md
  components/navigation/menu-link.tsx
  components/ui/elements/icon-button.tsx
  e2e/accessibility.spec.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix CI failures: improve color contrast and remove unused dependencies
  app/subscribe/action.ts
  components/ui/layout/feed.tsx
  package.json
Due: eslint --fix, prettier --write

Update pnpm-lock.yaml after removing unused dependencies
  pnpm-lock.yaml
Due: none

Fix E2E test failures and improve accessibility
  components/ui/layout/main.tsx
  e2e/navigation.spec.ts
  e2e/newsletter.spec.ts
  playwright-report/data/30d38a6a0ac2b4672641f06a89d2b82e32d3d264.md
  playwright-report/data/ab170f9ddedba38739b29634426dad10dd41d87b.md
  playwright-report/index.html
  test-results/.last-run.json
  test-results/navigation-Navigation-shou-5ae49--to-home-by-clicking-avatar-chromium/error-context.md
  test-results/newsletter-Newsletter-shou-83af6-ion-error-for-invalid-email-chromium/error-context.md
Due: eslint --fix, prettier --write

Refactor tests to use Testing Library locator priority
  components/newsletter/newsletter-form.test.tsx
  e2e/accessibility.spec.ts
  e2e/navigation.spec.ts
  e2e/newsletter.spec.ts
  playwright-report/data/30d38a6a0ac2b4672641f06a89d2b82e32d3d264.md
  playwright-report/data/ab170f9ddedba38739b29634426dad10dd41d87b.md
  playwright-report/index.html
  test-results/.last-run.json
  test-results/navigation-Navigation-shou-5ae49--to-home-by-clicking-avatar-chromium/error-context.md
  test-results/newsletter-Newsletter-shou-83af6-ion-error-for-invalid-email-chromium/error-context.md
Due: eslint --fix, prettier --write

Fix flaky newsletter validation test
  e2e/newsletter.spec.ts
Due: eslint --fix

Improve component structure and remove unused props
  components/home/appearances-loading.tsx
  components/home/hero.tsx
  components/home/posts-loading.tsx
  components/navigation/menu-link.tsx
  components/navigation/menu.tsx
  components/navigation/navbar-border.tsx
  components/navigation/navbar.tsx
  components/navigation/theme-toggle.tsx
  components/ui/elements/alert.tsx
  components/ui/elements/badge.tsx
  components/ui/elements/copy-to-clipboard.tsx
  components/ui/elements/divider.tsx
  components/ui/elements/icon-button.tsx
  components/ui/elements/skip-navigation-link.tsx
  components/ui/forms/button.tsx
  components/ui/forms/input.tsx
  components/ui/layout/body.tsx
  components/ui/layout/card.tsx
  components/ui/layout/feed.tsx
  components/ui/sonner.tsx
  components/ui/typography/h1.tsx
  components/ui/typography/h2.tsx
  components/ui/typography/h3.tsx
  components/ui/typography/h4.tsx
  components/ui/typography/lead.tsx
  components/ui/typography/meta.tsx
  components/ui/typography/paragraph.tsx
Due: eslint --fix

Add horizontal padding to navigation link active state borders
  components/navigation/menu-link.tsx
Due: eslint --fix

Add horizontal padding to mobile menu links
  components/navigation/menu-link.tsx
Due: eslint --fix

Increase menu link padding and add daily cache revalidation for homepage posts
  components/home/posts.tsx
  components/navigation/menu-link.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add daily cache revalidation for appearances
  components/home/appearances.tsx
  lib/events.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
