Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Various revamps and improvements
  app/[slug]/layout.tsx
  app/page.tsx
  app/posts/[slug]/layout.tsx
  components/footer/Footer.tsx
  components/home/ContentSection.tsx
  components/ui/home/Post.tsx
  components/ui/home/Posts.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Body.tsx
  components/ui/layout/Footer.tsx
  components/ui/layout/Hero.tsx
  components/ui/layout/Html.tsx
  components/ui/layout/Main.tsx
  components/ui/navbar/Navbar.tsx
  components/ui/navbar/NavbarLink.tsx
  components/ui/social/SocialIcon.tsx
  components/ui/social/SocialList.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Use hoverOnlyWhenSupported to avoid hover styles on touch devices
  tailwind.config.js
Due: prettier --write

Upgrade TypeScript to 5.0.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add accents to post
  components/ui/home/Post.tsx
Due: eslint --fix

Add article header
  app/[slug]/layout.tsx
  app/posts/[slug]/page.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/ArticleBody.tsx
  components/ui/layout/ArticleHeader.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add photo to hero section
  components/home/HeroSection.tsx
  components/ui/layout/ArticleBody.tsx
  components/ui/layout/Hero.tsx
Due: eslint --fix

Improve name for getTitle function
  app/[slug]/page.tsx
  app/layout.tsx
  app/posts/[slug]/page.tsx
  utils/metadata.ts
Due: eslint --fix

Add posts page
  app/[slug]/layout.tsx
  app/about/page.tsx
  app/layout.tsx
  app/posts/[slug]/layout.tsx
  app/posts/layout.tsx
  app/posts/page.tsx
  components/home/HeroSection.tsx
  components/home/PostsSection.tsx
  components/posts/PostsFeed.tsx
  components/ui/elements/ScreenReaderText.tsx
  components/ui/home/Posts.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/ArticleBody.tsx
  components/ui/layout/Container.tsx
  components/ui/layout/Hero.tsx
  components/ui/layout/Main.tsx
  components/ui/layout/Section.tsx
  components/ui/post/Feed.tsx
  components/ui/post/Post.tsx
  components/ui/text/H1.tsx
  components/ui/text/H2.tsx
  content/posts/test.mdx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix layouts
  app/posts/[slug]/layout.tsx
  app/posts/layout.tsx
  app/posts/page.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/ArticleBody.tsx
  components/ui/layout/ArticleHeader.tsx
  components/ui/layout/Body.tsx
  components/ui/layout/Main.tsx
  content/about.mdx
Due: eslint --fix

Fix spacing and layout issues
  app/posts/[slug]/page.tsx
  components/home/PostsSection.tsx
  components/ui/layout/Body.tsx
  components/ui/layout/Container.tsx
  components/ui/layout/Main.tsx
  components/ui/layout/Section.tsx
  components/ui/post/Feed.tsx
  components/ui/post/Post.tsx
Due: eslint --fix

Use title from frontmatter in page
  app/[slug]/page.tsx
  content/legal-notice.mdx
Due: eslint --fix

Rename text folder to typography
  components/ui/typography/H1.tsx
  components/ui/typography/H2.tsx
  components/ui/typography/H3.tsx
  components/ui/typography/H4.tsx
  components/ui/typography/Paragraph.tsx
Due: eslint --fix

Remove unused about page
  content/about.mdx
Due: none

Create draft posts
  content/posts/building-a-blog-with-nextjs-13-app-directory.mdx
  content/posts/fully-type-safe-polymorphic-react-component.mdx
Due: none

Fix import paths for typography components
  app/posts/page.tsx
  components/home/PostsSection.tsx
Due: eslint --fix

Render draft posts
  app/posts/[slug]/page.tsx
Due: eslint --fix

Move `publishedAt` and `readingTime` to separate components
  components/ui/elements/PublishedAt.tsx
  components/ui/elements/ReadingTime.tsx
  components/ui/layout/ArticleHeader.tsx
Due: eslint --fix

Fix layout spacing
  components/ui/layout/Body.tsx
  components/ui/layout/Main.tsx
Due: eslint --fix

Create helper to sort posts by published date
  components/home/PostsSection.tsx
  components/posts/PostsFeed.tsx
  utils/posts.ts
Due: eslint --fix

Fix post card hover state
  components/ui/post/Post.tsx
Due: eslint --fix

Fix code block overflow on mobile
  components/ui/layout/Article.tsx
  components/ui/layout/Body.tsx
  components/ui/layout/Hero.tsx
  components/ui/layout/Main.tsx
Due: eslint --fix

Remove unused params from layout
  app/[slug]/layout.tsx
Due: eslint --fix

Add initial about page
  app/[slug]/page.tsx
  app/about/page.tsx
  components/ui/mdx/MDXContent.tsx
  content/about.mdx
  content/legal-notice.mdx
Due: eslint --fix

Add lead to posts
  app/posts/[slug]/page.tsx
  app/posts/page.tsx
  components/ui/layout/ArticleHeader.tsx
  components/ui/typography/Lead.tsx
  content/posts/test.mdx
  contentlayer.config.ts
Due: eslint --fix

Adjust rounded corners for pre blocks
  components/ui/layout/ArticleBody.tsx
Due: eslint --fix

Adjust color
  components/ui/post/Post.tsx
Due: eslint --fix

Remove ScreenReaderText component
  components/home/HeroSection.tsx
  components/ui/elements/ScreenReaderText.tsx
Due: eslint --fix

Revamp the navbar
  app/appearances/page.tsx
  app/speaking/page.tsx
  components/navigation/Navbar.tsx
  components/ui/navbar/Navbar.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint --fix, prettier --write

Adjust spacing between elements
  components/ui/layout/Article.tsx
  components/ui/layout/Body.tsx
  components/ui/layout/Main.tsx
Due: eslint --fix

Add missing lead class to `ArticleHeader`
  components/ui/layout/ArticleHeader.tsx
Due: eslint --fix

Adjustments on the typography
  components/ui/layout/Article.tsx
  components/ui/layout/ArticleBody.tsx
  components/ui/layout/ArticleHeader.tsx
  components/ui/mdx/MDXContent.tsx
  components/ui/typography/Lead.tsx
  content/about.mdx
  tailwind.config.js
Due: eslint --fix, prettier --write

Revamp `Article` layout
  app/[slug]/layout.tsx
  app/[slug]/page.tsx
  app/appearances/page.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/ArticleHeader.tsx
  components/ui/layout/Body.tsx
  components/ui/typography/Lead.tsx
  content/about.mdx
  contentlayer.config.ts
Due: eslint --fix

Delete unused pages
  app/journal/page.tsx
  app/workshops/page.tsx
Due: eslint --fix

Simplify the container component
  app/posts/page.tsx
Due: eslint --fix

Spread the love
  components/ui/elements/PublishedAt.tsx
  components/ui/elements/ReadingTime.tsx
Due: eslint --fix

Simplify `Container` component
  components/ui/layout/Article.tsx
  components/ui/layout/Container.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix the article body color
  components/ui/layout/ArticleBody.tsx
Due: eslint --fix
