Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Update dependency react-use to v10.2.0
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.41
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10.3.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency use-media to v1.3.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency use-media to v1.4.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency husky to v3.0.2
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.1.1
  package.json
  yarn.lock
Due: prettier --write

Update packages
  package.json
  yarn.lock
Due: prettier --write

Fix link color
  src/components/link.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Replace useWindowScroll with custom useScrollThreshold
  package.json
  src/components/header.tsx
  src/hooks/useScrollThreshold.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Rename to .ts
  src/hooks/useAnchor.ts
  src/hooks/useScrollThreshold.ts
  src/hooks/useSlug.ts
Due: eslint --fix

Fix re-rendering issues
  gatsby-browser.js
  src/components/breakpoint-context.tsx
  src/components/global-style.tsx
  src/components/layout.tsx
  src/components/menu.tsx
  src/components/root.tsx
Due: eslint --fix, prettier --write

Raw blog section
  src/pages/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

More work on blog articles at home page
  src/pages/index.tsx
Due: eslint --fix

Update dependency @types/node to v12.6.9
  package.json
  yarn.lock
Due: prettier --write

Render big header initially
  src/hooks/useScrollThreshold.ts
Due: eslint --fix

Add arrow link component
  src/components/arrow-link.tsx
  src/icons/arrow-right.svg
  src/pages/index.tsx
Due: eslint --fix

Little nav fix
  src/components/menu.tsx
Due: eslint --fix

Keep commenting, right
  src/components/mdx/wrapper.tsx
Due: eslint --fix

Rough blog index start
  src/pages/blog.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Move svgo config to gatsby-config
  .svgo.yml
  gatsby-config.js
Due: prettier --write

Move root wrapper to ssr
  gatsby-ssr.js
Due: prettier --write

Keep gatsby-browser copy
  gatsby-browser.js
Due: prettier --write

Fix config
  gatsby-config.js
Due: prettier --write

Extract content component & fix typings
  src/components/content.tsx
  src/templates/post/header.tsx
  src/templates/post/index.tsx
  src/types/generated/graphql.ts
  src/types/mdx.d.ts
Due: eslint --fix

Commenting & clean up
  src/templates/post/index.tsx
  src/types/mdx.d.ts
Due: eslint --fix

Clean up typings
  src/types/github-slugger.d.ts
  src/types/svg.d.ts
Due: eslint --fix
