Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Remove forwardRef (React 19 feature) and clean up unused code
  components/ui/elements/alert.tsx
  components/ui/elements/icon-button.tsx
  components/ui/forms/select.tsx
  components/ui/popover.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Enhance newsletter form with React 19 features
  app/globals.css
  app/subscribe/action.ts
  components/newsletter/newsletter-form.tsx
Due: eslint --fix

Redesign theme toggle as segmented control with Lucide icons
  app/layout.tsx
  components/navigation/theme-toggle.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Document descriptive event parameter naming rule
  AGENTS.md
Due: prettier --write

Migrate all icons from Heroicons to Lucide React
  app/about/page.tsx
  app/posts/[slug]/page.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-location.tsx
  components/appearances/event-website.tsx
  components/navigation/menu.tsx
  components/ui/elements/copy-to-clipboard.tsx
  components/ui/layout/feed.tsx
  components/ui/link/action-link.tsx
  lib/mdx/components.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Use custom eslint package
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate Prettier config to TypeScript
  app/about/page.tsx
  components/home/hero-avatar.tsx
  components/navigation/menu-link.tsx
  components/navigation/theme-toggle.tsx
  components/ui/elements/icon-button.tsx
  lib/utils.ts
  prettier.config.ts
Due: eslint --fix

Hide posts in the future
  app/page.tsx
  components/home/posts.tsx
  components/posts/posts-feed.tsx
  content/posts/ai-agents.mdx
  lib/posts.test.ts
  lib/posts.ts
Due: eslint --fix

Enable React view transitions in Next.js config
  next.config.ts
Due: eslint --fix

Implement view transitions for avatar
  components/avatar/avatar.tsx
  components/home/hero-avatar.tsx
  components/navigation/navbar-avatar.tsx
Due: eslint --fix

Add view transition support to layout components
  components/ui/layout/article.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
Due: eslint --fix

Add view transitions to post titles
  app/posts/[slug]/page.tsx
  components/home/posts.tsx
Due: eslint --fix

Add view transitions to talk titles
  app/talks/[slug]/page.tsx
  components/talks/talks-feed.tsx
Due: eslint --fix

Add view transitions to appearance titles
  app/appearances/[slug]/page.tsx
  components/appearances/appearances-feed.tsx
Due: eslint --fix

Add React 19.2 view transitions (#613)
  app/appearances/[slug]/page.tsx
  app/posts/[slug]/page.tsx
  app/talks/[slug]/page.tsx
  components/appearances/appearances-feed.tsx
  components/avatar/avatar.tsx
  components/home/hero-avatar.tsx
  components/home/posts.tsx
  components/navigation/navbar-avatar.tsx
  components/talks/talks-feed.tsx
  components/ui/layout/article.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
  next.config.ts
Due: eslint --fix

Add TransitionLink component with useTransition support
  components/ui/layout/feed.tsx
  components/ui/link/transition-link.tsx
Due: eslint --fix

Add blog post about React view transitions
  content/posts/react-view-transitions.mdx
Due: none

Follow AGENTS.md code style rules
  components/ui/link/transition-link.tsx
  content/posts/react-view-transitions.mdx
  public/images/react-view-transitions/avatar-example.gif
Due: eslint --fix

Use array destructuring hole for unused isPending
  components/ui/link/transition-link.tsx
  content/posts/react-view-transitions.mdx
Due: eslint --fix

Add array destructuring hole rule to AGENTS.md
  AGENTS.md
Due: prettier --write

Improve writing clarity
  AGENTS.md
  CLAUDE.md
  CURSOR.md
  content/pages/about.mdx
  content/posts/ai-agents.mdx
  content/posts/react-view-transitions.mdx
Due: prettier --write

Remove non-null assertions from posts tests
  lib/posts.test.ts
Due: eslint --fix

Migrate from Prisma + Postgres to Drizzle + Turso
  components/appearances/appearances-feed.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-lead.tsx
  components/appearances/event-location.tsx
  components/appearances/event-website.tsx
  components/talks/talks-feed.tsx
  components/workshops/workshops-feed.tsx
  drizzle.config.ts
  drizzle/schema.ts
  lib/db.ts
  lib/events.ts
  lib/mcp.test.ts
  lib/place.ts
  lib/posts.test.ts
  lib/prisma.ts
  lib/talks.ts
  lib/workshops.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.ts
  test.db
  vitest.config.ts
Due: eslint --fix, prettier --write
