Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Improve mobile menu and fix ViewTransition conflicts
  components/avatar/avatar.tsx
  components/home/hero.tsx
  components/navigation/menu.tsx
  components/navigation/navbar.tsx
  components/posts/about-author.tsx
Due: eslint --fix

Add Video component with full width and improve code block copy button
  components/ui/elements/video.tsx
  content/posts/ai-agents.mdx
  lib/mdx/components.tsx
Due: eslint --fix

Remove unused revalidate export from Posts component
  components/home/posts.tsx
Due: eslint --fix

Reorder post footer sections to place newsletter before comments
  components/posts/post-footer.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Enable react compiler to all
  next.config.ts
Due: eslint --fix

Migrate from React `ViewTransition` to native CSS `viewTransitionName`
  components/avatar/avatar.tsx
  components/ui/layout/article.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
  e2e/accessibility.spec.ts
  next.config.ts
  playwright-report/data/30d38a6a0ac2b4672641f06a89d2b82e32d3d264.md
  playwright-report/data/ab170f9ddedba38739b29634426dad10dd41d87b.md
  playwright-report/index.html
  test-results/.last-run.json
  test-results/navigation-Navigation-shou-5ae49--to-home-by-clicking-avatar-chromium/error-context.md
  test-results/newsletter-Newsletter-shou-83af6-ion-error-for-invalid-email-chromium/error-context.md
Due: eslint --fix, prettier --write

Add git commit rules for backticks and no AI attribution
  AGENTS.md
Due: prettier --write

Remove inspiration block
  README.md
Due: prettier --write

Menu link adjustments
  components/navigation/menu-link.tsx
  components/navigation/menu.tsx
Due: eslint --fix

Fix feed item clicks being blocked by overlay elements
  components/ui/layout/feed.tsx
  e2e/navigation.spec.ts
Due: eslint --fix

Revert "Add TransitionLink component with useTransition support"
  components/ui/layout/feed.tsx
Due: eslint --fix

Fixes
  components/ui/layout/feed.tsx
Due: eslint --fix

Revert "Fix feed item clicks being blocked by overlay elements"
  components/ui/layout/feed.tsx
  e2e/navigation.spec.ts
Due: eslint --fix

Misc updates & changes
  app/appearances/[slug]/page.tsx
  app/posts/[slug]/page.tsx
  app/talks/[slug]/page.tsx
  components/appearances/appearances-feed.tsx
  components/avatar/avatar.tsx
  components/home/hero.tsx
  components/home/posts.tsx
  components/navigation/navbar.tsx
  components/posts/about-author.tsx
  components/talks/talks-feed.tsx
  components/ui/layout/article.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
  components/ui/link/transition-link.tsx
  content/posts/react-view-transitions.mdx
  package.json
  pnpm-lock.yaml
  scripts/fix-uuid-to-cuid.ts
Due: eslint --fix, prettier --write

Restore avatar view transitions and update ReactJS PH link
  components/avatar/avatar-link.tsx
  components/avatar/avatar.tsx
  components/home/hero-avatar.tsx
  components/navigation/navbar.tsx
  components/posts/about-author.tsx
  lib/events.ts
  types/react-view-transition.d.ts
Due: eslint --fix

Format
  components/avatar/avatar-link.tsx
Due: eslint --fix

Remove temporary database cleanup tooling
  package.json
  pnpm-lock.yaml
  scripts/fix-uuid-to-cuid.ts
Due: eslint --fix, prettier --write

Stop tracking Playwright reports
  .gitignore
  playwright-report/index.html
  test-results/.last-run.json
Due: prettier --write

Add react-tweet support for MDX
  content/posts/building-legacy-code.mdx
  lib/mdx/components.tsx
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix appearances page date comparison and add empty state
  components/appearances/appearances-feed.tsx
  components/ui/empty.tsx
Due: eslint --fix

Add smoke tests for all pages
  app/pages.smoke.test.tsx
  components/ui/empty.tsx
Due: eslint --fix

Add Playwright E2E smoke tests for all pages
  e2e/pages-smoke.spec.ts
Due: eslint --fix

Remove unused EmptyContent export
  components/ui/empty.tsx
Due: eslint --fix

Add searchParams to dynamic page tests
  app/pages.smoke.test.tsx
Due: eslint --fix

Add rewrite for /photo.jpg to /photo endpoint
  next.config.ts
Due: eslint --fix

Normalize all tags to lowercase across database and frontend
  components/ui/elements/badge.tsx
  components/ui/elements/tag-cloud.tsx
Due: eslint --fix

Upgrade mcp package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Rework design language post for engineers
  content/posts/design-language.mdx
Due: none

Fix manually opengraph-image
  app/posts/[slug]/opengraph-image.tsx
Due: eslint --fix

Improve og
  app/posts/[slug]/page.tsx
Due: eslint --fix

Upgrade next
  package.json
  pnpm-lock.yaml
Due: prettier --write

Mock react tweet
  vitest.setup.ts
Due: eslint --fix
