Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Separate books components
  src/components/books/book.tsx
  src/components/books/books.tsx
  src/components/books/grid.tsx
Due: eslint --fix

Pin dependency graphql-tag to 2.10.1
  package.json
  yarn.lock
Due: prettier --write

Add a static photo
  static/photo.jpg
Due: none

Add redirects to /photo.jpg
  static/_redirects
Due: none

Update dependency @types/styled-components to v4.1.19
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.4.5
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v2.2.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-helmet-async to v1.0.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.15.13
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-config-prettier to v6.3.0
  package.json
  yarn.lock
Due: prettier --write

Fix displaying workshops
  gatsby-node.js
Due: prettier --write

Remove unused import
  src/components/books/books.tsx
Due: eslint --fix

Add redirect for workshop feedback form
  static/_redirects
Due: none

Update dependency typescript to v3.6.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.7.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/react-helmet to v5.0.10
  package.json
  yarn.lock
Due: prettier --write

Display same day event on upcoming list
  src/components/card-events.tsx
Due: eslint --fix

Update description
  src/pages/workshops.mdx
Due: none

Update talks description
  src/pages/talks.mdx
Due: none

Update a couple descriptions
  src/pages/books.mdx
  src/pages/contact.mdx
  src/pages/oss.mdx
Due: none

Remove mock page
  src/pages/_talks.mdx
Due: none

Update descriptions again
  src/pages/talks.mdx
  src/pages/workshops.mdx
Due: none
