Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update prisma db settings
  prisma/schema.prisma
Due: none

Rearrange icons
  components/appearances/AppearanceCard.tsx
  components/appearances/EventAppearances.tsx
Due: eslint --fix

Use correct import for PrismaClient
  prisma/seed.ts
Due: eslint --fix

Fix inline code spacing
  lib/mdx.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade clsx
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade prettier and apply updates
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier --write

Upgrade unist-util-visit
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade `@headlessui/react`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade prisma to 5.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Update seed file
  prisma/seed.ts
Due: eslint --fix

Rename Twitter to X
  app/about/page.tsx
  app/appearances/page.tsx
  app/layout.tsx
  components/home/Hero.tsx
  components/posts/Comments.tsx
  icons/Twitter.tsx
  icons/X.tsx
  lib/constants.ts
Due: eslint --fix

Update uses page
  content/pages/uses.mdx
Due: none

Change underline thickness
  components/ui/link/InlineLink.tsx
Due: eslint --fix

Replace twitter.com to x.com
  app/about/page.tsx
  components/home/Hero.tsx
  components/posts/Comments.tsx
  content/posts/how-to-disable-code-splitting-in-webpack.mdx
Due: eslint --fix

fix(schema.prisma): Remove `shadowDatabaseUrl`
  prisma/schema.prisma
Due: none

Remove `shadowDatabaseUrl` (#607)
  prisma/schema.prisma
Due: none

First draft transitioning to server actions
  app/subscribe/action.ts
  components/newsletter/NewsletterForm.tsx
  next.config.js
Due: eslint --fix, prettier --write

Complete subscribe action except for error handling
  app/subscribe/action.ts
Due: eslint --fix

Update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix `useFormStatus` import
  components/newsletter/NewsletterForm.tsx
Due: eslint --fix

Fix linting errors
  components/newsletter/NewsletterForm.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Upgrade to Next.js 14
  app/opengraph-image.tsx
  app/posts/[slug]/opengraph-image.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Configure Next.js 14 setup
  app/layout.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove `appDir` config
  next.config.js
Due: prettier --write

Smooth scrolling only when user has not requested reduced motion
  components/ui/layout/Html.tsx
Due: eslint --fix

Fix
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update appearances card
  components/home/Appearances.tsx
Due: eslint --fix

Display latest events in simple order
  components/home/Appearances.tsx
Due: eslint --fix

Closest events to date but prioritize upcoming
  components/home/Appearances.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
