Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Use tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove ts-node
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade packages
  components/newsletter/NewsletterForm.tsx
  components/ui/layout/Feed.tsx
  lib/mdx.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Upgrade remark-gfm
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use esm
  .eslintrc.cjs
  next.config.cjs
  package.json
  postcss.config.cjs
  tsconfig.json
Due: prettier --write

Rename casing
  components/avatar/avatar.tsx
  components/footer/footer.tsx
  components/home/appearances.tsx
  components/home/hero.tsx
  components/home/posts.tsx
  components/intersection/intersection.tsx
  components/navigation/menu.tsx
  components/navigation/navbar.tsx
  components/newsletter/newsletter.tsx
  components/posts/comments.tsx
  components/posts/giscus.tsx
  components/ui/elements/badge.tsx
  components/ui/elements/divider.tsx
  components/ui/elements/photo.tsx
  components/ui/elements/youtube.tsx
  components/ui/forms/button.tsx
  components/ui/forms/input.tsx
  components/ui/forms/select.tsx
  components/ui/layout/article.tsx
  components/ui/layout/body.tsx
  components/ui/layout/card.tsx
  components/ui/layout/container.tsx
  components/ui/layout/content.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/html.tsx
  components/ui/layout/list.tsx
  components/ui/layout/main.tsx
  components/ui/layout/page.tsx
  components/ui/link/link.tsx
  components/ui/typography/h1.tsx
  components/ui/typography/h2.tsx
  components/ui/typography/h3.tsx
  components/ui/typography/h4.tsx
  components/ui/typography/lead.tsx
  components/ui/typography/meta.tsx
  components/ui/typography/paragraph.tsx
Due: eslint --fix

Fix typings
  contentlayer.config.ts
Due: eslint --fix

Fix typings
  app/about/page.tsx
  components/appearances/appearance-card.tsx
  components/appearances/event-appearances.tsx
  components/home/Appearances.tsx
  components/home/Posts.tsx
  components/home/appearances.tsx
  components/home/posts.tsx
  components/newsletter/Newsletter.tsx
  components/newsletter/newsletter.tsx
  components/posts/Comments.tsx
  components/posts/about-author.tsx
  components/posts/comments.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Container.tsx
  components/ui/layout/Feed.tsx
  components/ui/layout/List.tsx
  components/ui/layout/article.tsx
  components/ui/layout/card.tsx
  components/ui/layout/container.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/list.tsx
  components/ui/typography/H4.tsx
  components/ui/typography/Paragraph.tsx
  components/ui/typography/h4.tsx
  components/ui/typography/paragraph.tsx
  lib/mdx.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Run format
  .eslintrc.cjs
  app/appearances/[slug]/page.tsx
  app/opengraph-image.tsx
  app/posts/[slug]/opengraph-image.tsx
  app/posts/[slug]/page.tsx
  app/subscribe/action.ts
  app/subscribe/route.ts
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
  components/appearances/event-date.tsx
  components/appearances/event-lead.tsx
  components/appearances/event-location.tsx
  components/avatar/avatar.tsx
  components/intersection/intersection-provider.tsx
  components/navigation/menu.tsx
  components/navigation/navbar.tsx
  components/posts/post-footer.tsx
  components/ui/elements/badge.tsx
  components/ui/elements/date-display.tsx
  components/ui/elements/divider.tsx
  components/ui/elements/icon-button.tsx
  components/ui/elements/reading-time.tsx
  components/ui/forms/button.tsx
  components/ui/layout/content.tsx
  components/ui/layout/html.tsx
  components/ui/layout/page.tsx
  components/ui/link/action-link.tsx
  components/ui/link/link.tsx
  components/ui/typography/lead.tsx
  components/ui/typography/meta.tsx
  content/posts/2019-year-in-review.mdx
  content/posts/building-a-blog-with-next-13-contentlayer-and-tailwind.mdx
  content/posts/how-to-disable-code-splitting-in-webpack.mdx
  content/posts/rebuilding-my-personal-site-with-next-and-rsc.mdx
  lib/constants.ts
  lib/hooks/use-theme.ts
  lib/newsletter.ts
  lib/place.ts
  lib/posts.ts
  lib/workshops.ts
Due: eslint --fix

Fix link
  app/layout.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

ESLint error on console logging
  .eslintrc.cjs
Due: none

Add eslint-plugin-typescript-sort-keys
  .eslintrc.cjs
  app/subscribe/action.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add `eslint-plugin-unused-imports`
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add `eslint-plugin-sort-keys-fix`
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add `eslint-plugin-sort-destructure-keys` to sort destructured keys
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Run format
  app/posts/[slug]/page.tsx
  app/talks/page.tsx
  app/workshops/page.tsx
  components/home/hero-avatar.tsx
  components/navigation/theme-select.tsx
  lib/hooks/use-intersection.ts
  lib/hooks/use-theme.ts
Due: eslint --fix

List different files when formatting
  package.json
Due: prettier --write

Add `eslint-plugin-deprecation`
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add `eslint-plugin-import`
  .eslintrc.cjs
  app/layout.tsx
  components/newsletter/newsletter-form.tsx
  components/ui/layout/card.tsx
  lib/hooks/use-intersection.ts
  lib/hooks/use-theme.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add `@stylistic/eslint-plugin`
  .eslintrc.cjs
  contentlayer.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add tailwindcss plugin to eslint config
  .eslintrc.cjs
  components/avatar/avatar.tsx
  components/navigation/menu-link.tsx
  components/ui/elements/badge.tsx
  components/ui/elements/copy-to-clipboard.tsx
  components/ui/elements/icon-button.tsx
  components/ui/typography/lead.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Disable linting errors in `contentlayer.config.ts`
  contentlayer.config.ts
Due: eslint --fix

Add import rule
  .eslintrc.cjs
Due: none

Add eslint react plugin and fix some issues
  .eslintrc.cjs
  components/ui/link/link.tsx
  components/ui/typography/h2.tsx
  components/ui/typography/h3.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove `contentlayer`
  .eslintrc.cjs
  .gitignore
  .prettierignore
  README.md
  app/about/page.tsx
  app/legal/page.tsx
  app/not-found.tsx
  app/opengraph-image.alt.txt
  app/opengraph-image.png
  app/opengraph-image.tsx
  app/posts/[slug]/meta/route.ts
  app/posts/[slug]/opengraph-image.tsx
  app/posts/[slug]/page.tsx
  app/privacy/page.tsx
  app/subscribe/confirm/page.tsx
  app/subscribe/thank-you/page.tsx
  app/uses/page.tsx
  components/home/posts.tsx
  components/posts/posts-feed.tsx
  components/ui/elements/reading-time.tsx
  components/ui/mdx/mdx-content.tsx
  components/ui/mdx/mdx-remote-content.tsx
  content/posts/building-a-blog-with-next-13-contentlayer-and-tailwind.mdx
  content/posts/rebuilding-my-personal-site-with-next-and-rsc.mdx
  contentlayer.config.ts
  lib/hooks/use-mdx-component.ts
  lib/mdx/components.tsx
  lib/mdx/get-mdx-files.ts
  lib/mdx/read-mdx-file.ts
  lib/posts.ts
  lib/rehype.ts
  next.config.mjs
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fix code block styling
  lib/mdx/components.tsx
Due: eslint --fix

Update semantic markup for page body
  components/ui/layout/page.tsx
Due: eslint --fix

Add `eslint-plugin-eslint-comments`
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Allow `== null` in `eqeqeq` rule
  .eslintrc.cjs
Due: none

Use shared linting config `@napaling/eslint-config`
  .eslintrc.cjs
  app/posts/[slug]/opengraph-image.tsx
  app/subscribe/action.ts
  components/ui/elements/icon-button.tsx
  components/ui/layout/html.tsx
  components/ui/link/link.tsx
  lib/hooks/use-intersection.ts
  lib/hooks/use-is-scroll-top.ts
  lib/hooks/use-mounted.ts
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

Update photo
  app/apple-icon.png
  app/favicon.ico
  app/icon.ico
  app/icon.png
  app/opengraph-image.png
  assets/images/photo.jpg
  public/images/og-content.png
Due: none

Updates
  app/posts/[slug]/opengraph-image.tsx
  app/talks/[slug]/page.tsx
  app/talks/page.tsx
  app/workshops/[slug]/page.tsx
  app/workshops/page.tsx
  components/ui/mdx/mdx-content.tsx
  lib/mdx/components.tsx
  lib/mdx/read-mdx-file.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Improve
  lib/prisma.ts
Due: eslint --fix

Minor changes
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write

Small tweaks
  .eslintignore
  app/appearances/page.tsx
  app/layout.tsx
  app/workshops/page.tsx
  next.config.mjs
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write
