Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Add workshops folder to gatsby source plugin
  gatsby-config.js
Due: prettier --write

Update dependency gatsby to v2.13.61
  package.json
  yarn.lock
Due: prettier --write

Fix typos
  src/pages/about.mdx
Due: none

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Add body field
  gatsby-node.js
Due: prettier --write

Remove unused fields
  gatsby-node.js
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.3.0
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v2
  package.json
  yarn.lock
Due: prettier --write

Convert blog page into mdx
  src/components/blog/posts.tsx
  src/pages/blog.mdx
Due: eslint --fix

Add description
  src/pages/blog.mdx
Due: none

Upgrade @types/react
  package.json
  yarn.lock
Due: prettier --write

Adjustments
  src/components/blog/posts.tsx
Due: eslint --fix

Use lodash.sortBy
  src/components/mdx/code.tsx
Due: eslint --fix

Align theme with rebass theme schema
  src/components/arrow-link.tsx
  src/components/blog/posts.tsx
  src/components/header.tsx
  src/components/home/greeting.tsx
  src/components/home/heading.tsx
  src/components/home/more-link.tsx
  src/components/home/tagline.tsx
  src/components/home/title.tsx
  src/components/mdx/blockquote.tsx
  src/components/mdx/code.tsx
  src/components/mdx/headings.tsx
  src/components/mdx/table.tsx
  src/components/text.tsx
  src/templates/post/header.tsx
  src/theme.ts
Due: eslint --fix

Move theme colors into colors property
  src/components/blog/posts.tsx
  src/components/dark-mode-button.tsx
  src/components/footer.tsx
  src/components/global-style.tsx
  src/components/header.tsx
  src/components/home/excerpt.tsx
  src/components/home/heading.tsx
  src/components/home/more-link.tsx
  src/components/home/post-link.tsx
  src/components/home/tagline.tsx
  src/components/layout.tsx
  src/components/link.tsx
  src/components/mdx/blockquote.tsx
  src/components/mdx/break.tsx
  src/components/mdx/code.tsx
  src/components/mdx/headings.tsx
  src/components/mdx/link.tsx
  src/components/mdx/table.tsx
  src/components/menu-button.tsx
  src/components/menu.tsx
  src/components/theme-provider.tsx
  src/templates/post/header.tsx
  src/theme.ts
Due: eslint --fix

Remove empty line
  src/types/svg.d.ts
Due: eslint --fix

Create image component
  src/components/about/header.tsx
  src/components/image.tsx
  src/components/photo.tsx
  src/components/speaker-header.tsx
  src/templates/post/header.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Add createdAt field
  content/talks/3rd-party-vs-custom-code.md
  content/talks/code-splitting.md
  content/talks/graphpack.md
  content/talks/graphql.md
  content/talks/modern-react.md
  content/talks/react-fiber.md
  content/talks/react-hooks.md
  gatsby-node.js
Due: prettier --write

Use .mdx extension
  content/events/191126-frontend-con.mdx
  content/posts/how-to-disable-code-splitting-in-webpack/index.mdx
  content/talks/3rd-party-vs-custom-code.mdx
  content/talks/code-splitting.mdx
  content/talks/graphpack.mdx
  content/talks/graphql.mdx
  content/talks/modern-react.mdx
  content/talks/react-fiber.mdx
  content/talks/react-hooks.mdx
Due: none

Improve filenames
  content/talks/building-modern-react-applications.mdx
  content/talks/building-zero-config-tools-for-graphql.mdx
  content/talks/drawing-the-line-between-3rd-party-and-custom-code.mdx
  content/talks/from-learning-to-thinking-in-graphql.mdx
  content/talks/optimizing-apps-with-code-splitting.mdx
  content/talks/with-great-power-comes-great-react-hooks.mdx
Due: none

Fix createdAt field
  gatsby-node.js
Due: prettier --write

Fix wrong date
  content/talks/with-great-power-comes-great-react-hooks.mdx
Due: none

Initial talks cards
  src/components/blog/posts.tsx
  src/components/card-body.tsx
  src/components/card-link.tsx
  src/components/card-title.tsx
  src/components/link.tsx
  src/components/talks/talks.tsx
  src/pages/talks.mdx
  src/types/generated/graphql.ts
Due: eslint --fix

Improve spacings
  src/components/blog/posts.tsx
  src/components/cards.tsx
  src/components/talks/talks.tsx
Due: eslint --fix

Create talk pages
  gatsby-node.js
  src/components/talks/talks.tsx
  src/templates/post/index.tsx
  src/templates/talk.tsx
  src/types/generated/graphql.ts
Due: eslint --fix, prettier --write

Remove previous display of talks
  src/pages/_talks.mdx
  src/pages/talks.mdx
Due: none

Remove persisting dark mode
  src/components/dark-mode-context.tsx
Due: eslint --fix

Add line heading
  src/components/talks/talks.tsx
Due: eslint --fix

Use card link trick
  src/components/blog/posts.tsx
  src/components/card-link.tsx
  src/components/card.tsx
  src/components/talks/talks.tsx
Due: eslint --fix

Add 4px radius to system
  src/components/card.tsx
  src/components/home/more-link.tsx
  src/components/mdx/code.tsx
  src/theme.ts
Due: eslint --fix

Remove link outline
  src/components/link.tsx
Due: eslint --fix

Update dependency gatsby to v2.13.63
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.7.2
  package.json
  yarn.lock
Due: prettier --write
