Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Fix home page
  src/pages/home/content.tsx
  src/pages/home/excerpt.tsx
  src/pages/home/greeting.tsx
  src/pages/home/heading.tsx
  src/pages/home/intro-content.tsx
  src/pages/home/intro-section.tsx
  src/pages/home/intro.tsx
  src/pages/home/post.tsx
  src/pages/home/section.tsx
  src/pages/home/tagline.tsx
  src/pages/home/title.tsx
  src/pages/index.tsx
Due: eslint --fix

Remove unused page
  src/pages/page-2.tsx
Due: eslint --fix

Improve link props typing
  src/components/link.tsx
Due: eslint --fix

Add more section
  src/icons/book.svg
  src/icons/film.svg
  src/icons/headphones.svg
  src/icons/heart.svg
  src/icons/paper-plane.svg
  src/icons/person.svg
  src/pages/home/more-link.tsx
  src/pages/home/more-links.tsx
  src/pages/index.tsx
Due: eslint --fix

Add link to home
  src/pages/404.mdx
Due: none

Add initial OSS page
  src/pages/oss.mdx
Due: none

Add more pages
  src/pages/reading.mdx
  src/pages/uses.mdx
Due: none

Fix name
  src/pages/blog.tsx
Due: eslint --fix

Update dependency @types/react to v16.9.1
  package.json
  yarn.lock
Due: prettier --write

Fix typos
  src/pages/about/index.mdx
Due: none

Add netlify plugin & set up initial redirects
  gatsby-config.js
  package.json
  static/_redirects
  yarn.lock
Due: prettier --write

Fix type
  src/pages/404.mdx
Due: none

Fix pages folder
  src/components/about/header.tsx
  src/components/home/content.tsx
  src/components/home/excerpt.tsx
  src/components/home/greeting.tsx
  src/components/home/heading.tsx
  src/components/home/intro-content.tsx
  src/components/home/intro-section.tsx
  src/components/home/intro.tsx
  src/components/home/more-link.tsx
  src/components/home/more-links.tsx
  src/components/home/post.tsx
  src/components/home/section.tsx
  src/components/home/tagline.tsx
  src/components/home/title.tsx
  src/pages/about.mdx
  src/pages/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Pin dependencies
  package.json
  yarn.lock
Due: prettier --write

Update dependency confusing-browser-globals to v1.0.8
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby-remark-copy-linked-files to v2.1.5
  package.json
  yarn.lock
Due: prettier --write

Fix about header
  src/pages/about.mdx
Due: none

Fix MDX broken heading semantics
  src/components/mdx/headings.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Filename & heading improvements
  src/components/mdx/headings.tsx
  src/posts/how-to-disable-code-splitting-in-webpack/build.png
  src/posts/how-to-disable-code-splitting-in-webpack/file-explorer.png
  src/posts/how-to-disable-code-splitting-in-webpack/index.md
  src/posts/how-to-disable-code-splitting-in-webpack/server-file.png
  src/posts/how-to-disable-code-splitting-in-webpack/server-files.png
Due: eslint --fix, prettier --write

make headers a bit higher
  src/components/about/header.tsx
  src/components/speaker-header.tsx
Due: eslint --fix

Add aria-labels & fix contrast
  src/components/dark-mode-button.tsx
  src/components/footer.tsx
  src/components/menu-button.tsx
  src/templates/post/header.tsx
  src/theme.ts
Due: eslint --fix

Add robots.txt
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Add sitemap plugin
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Add missing siteUrl
  gatsby-config.js
Due: prettier --write

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Improve post header text contrast
  src/templates/post/header.tsx
Due: eslint --fix

Add rel="noopener"
  src/components/link.tsx
Due: eslint --fix

Remove some unused svgo config
  gatsby-config.js
Due: prettier --write

Add plugin for canonical URLs
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Increase button size
  src/components/dark-mode-button.tsx
  src/components/header.tsx
  src/components/menu-button.tsx
Due: eslint --fix

Fix social button size
  src/components/footer.tsx
Due: eslint --fix

Fix og title
  src/components/seo.tsx
Due: eslint --fix

Improve button sizes
  src/components/dark-mode-button.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/menu-button.tsx
Due: eslint --fix
