Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Add speed insights
  app/layout.tsx
  lib/prisma.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix linting errors
  app/layout.tsx
  app/posts/[slug]/opengraph-image.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-lead.tsx
  components/home/hero.tsx
  components/icons/github.tsx
  components/icons/instagram.tsx
  components/icons/linkedin.tsx
  components/icons/x.tsx
  components/intersection/intersection-provider.tsx
  components/navigation/menu.tsx
  components/navigation/navbar.tsx
  components/newsletter/newsletter.tsx
  components/posts/about-author.tsx
  components/posts/comments.tsx
  components/posts/post-footer.tsx
  components/ui/elements/divider.tsx
  components/ui/elements/photo.tsx
  components/ui/elements/skip-navigation-link.tsx
  components/ui/elements/tag-cloud.tsx
  components/ui/layout/article.tsx
  components/ui/layout/body.tsx
  components/ui/layout/card.tsx
  components/ui/layout/content.tsx
  components/ui/layout/main.tsx
  components/ui/layout/page.tsx
  components/ui/link/action-link.tsx
  components/ui/mdx/mdx-content.tsx
  components/ui/typography/lead.tsx
  lib/constants.ts
  lib/events.ts
  lib/mdx/get-mdx-files.ts
  lib/newsletter.ts
  lib/place.ts
  lib/talks.ts
  lib/workshops.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Rename root page
  app/page.tsx
Due: eslint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Adjust code block styling
  lib/mdx/components.tsx
Due: eslint --fix

Use geist fonts
  components/ui/layout/html.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --fix, prettier --write

Use geist fonts
  app/posts/[slug]/opengraph-image.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Install sharp
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add path to favorite tools
  next.config.mjs
Due: none

Use redirects and update link
  next.config.mjs
Due: none

Add target
  tsconfig.json
Due: prettier --write

Update dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

Finish blog post
  content/posts/tuner.mdx
  public/images/tuner/tuning.png
Due: none

Add screenshot
  content/pages/tuner.mdx
  content/posts/tuner.mdx
  public/images/tuner/tuner.png
Due: none

Update post
  content/posts/tuner.mdx
Due: none

Update frequency description
  content/posts/tuner.mdx
Due: none

Tweak screenshot
  content/posts/tuner.mdx
Due: none

Separate past talks and workshops from current ones
  app/talks/page.tsx
  app/workshops/page.tsx
  components/talks/talks-feed.tsx
  components/ui/layout/feed.tsx
  components/workshops/workshops-feed.tsx
  lib/talks.ts
  lib/workshops.ts
Due: eslint --fix

Column tweaks
  app/appearances/page.tsx
  app/talks/page.tsx
Due: eslint --fix

Update types
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update @types/eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

Ignore linting during builds
  next.config.mjs
Due: none

Update address
  content/pages/legal.mdx
Due: none
