Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Fix footer spacing
  src/components/footer.tsx
Due: eslint --fix

Add time tag
  src/pages/blog.tsx
  src/templates/post/header.tsx
  src/templates/post/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Enable dev server to other devices
  package.json
Due: prettier --write

Align title height
  src/components/header.tsx
Due: eslint --fix

Fix header bug on iOS
  src/components/header.tsx
Due: eslint --fix

Add google analytics
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Fix more icons
  src/components/home/more-link.tsx
  src/icons/book.svg
  src/icons/film.svg
  src/icons/headphones.svg
  src/icons/heart.svg
  src/icons/paper-plane.svg
  src/icons/person.svg
  src/icons/sun.svg
  src/pages/index.tsx
  src/theme.ts
  src/types/generated/graphql.ts
Due: eslint --fix

Switch to react-use
  package.json
  src/components/breakpoint-context.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Persist dark mode state
  src/components/dark-mode-context.tsx
Due: eslint --fix

Redirect netlify sub domain to custom domain
  static/_redirects
Due: none

Drop 0 in borders scale
  src/components/mdx/blockquote.tsx
  src/components/mdx/table.tsx
  src/components/menu.tsx
  src/theme.ts
Due: eslint --fix

Drop 0 in radii scale
  src/components/home/more-link.tsx
  src/components/mdx/code.tsx
  src/pages/blog.tsx
  src/theme.ts
Due: eslint --fix

Remove 0 from space scale
  src/components/about/header.tsx
  src/components/arrow-link.tsx
  src/components/content.tsx
  src/components/dark-mode-button.tsx
  src/components/footer.tsx
  src/components/global-style.tsx
  src/components/header.tsx
  src/components/home/greeting.tsx
  src/components/home/heading.tsx
  src/components/home/intro-section.tsx
  src/components/home/intro.tsx
  src/components/home/more-link.tsx
  src/components/home/more-links.tsx
  src/components/home/post.tsx
  src/components/home/section.tsx
  src/components/home/title.tsx
  src/components/layout.tsx
  src/components/mdx/blockquote.tsx
  src/components/mdx/break.tsx
  src/components/mdx/code.tsx
  src/components/mdx/headings.tsx
  src/components/mdx/ordered-list.tsx
  src/components/mdx/paragraph.tsx
  src/components/mdx/table.tsx
  src/components/mdx/unordered-list.tsx
  src/components/menu-button.tsx
  src/components/menu.tsx
  src/components/speaker-header.tsx
  src/pages/blog.tsx
  src/templates/post/header.tsx
  src/theme.ts
Due: eslint --fix

Fix types
  src/pages/blog.tsx
  src/templates/post/header.tsx
Due: eslint --fix

Improve hover & shadow
  src/components/home/more-link.tsx
  src/components/home/post-link.tsx
  src/pages/blog.tsx
  src/pages/index.tsx
  src/theme.ts
Due: eslint --fix

Fix typings
  src/components/mdx/code.tsx
  src/types/styled.d.ts
Due: eslint --fix

Move posts and talks to content folder
  content/posts/how-to-disable-code-splitting-in-webpack/build.png
  content/posts/how-to-disable-code-splitting-in-webpack/cover.jpg
  content/posts/how-to-disable-code-splitting-in-webpack/file-explorer.png
  content/posts/how-to-disable-code-splitting-in-webpack/index.md
  content/posts/how-to-disable-code-splitting-in-webpack/server-file.png
  content/posts/how-to-disable-code-splitting-in-webpack/server-files.png
  content/talks/3rd-party-vs-custom-code.md
  content/talks/code-splitting.md
  content/talks/graphpack.md
  content/talks/graphql.md
  content/talks/modern-react.md
  content/talks/react-fiber.md
  content/talks/react-hooks.md
  gatsby-config.js
  gatsby-node.js
  src/pages/blog.tsx
  src/pages/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix, prettier --write

Revert "Enable dev server to other devices"
  package.json
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Fix posts path
  gatsby-node.js
Due: prettier --write

Improvements
  gatsby-node.js
Due: prettier --write

Add descriptions & improve redirects
  src/pages/404.mdx
  src/pages/books.mdx
  src/pages/index.tsx
  src/pages/oss.mdx
  src/pages/reading.mdx
  src/pages/uses.mdx
  src/pages/workshops.mdx
Due: eslint --fix

Add more redirects
  static/_redirects
Due: none

Don't lazy load avatar and header images
  src/components/about/header.tsx
  src/components/photo.tsx
  src/components/speaker-header.tsx
Due: eslint --fix

Use native link when referencing to static folder
  src/components/link.tsx
Due: eslint --fix

Add alt texts
  content/posts/how-to-disable-code-splitting-in-webpack/index.md
Due: prettier --write

Add loading=eager
  src/templates/post/header.tsx
Due: eslint --fix

Improve onCreateNode impl
  gatsby-node.js
Due: prettier --write

Use single quotes
  gatsby-config.js
Due: prettier --write

WIP: Attempt to add talks as source nodes
  content/events/talks/191126-frontend-con.md
  gatsby-config.js
  gatsby-node.js
  src/components/header.tsx
  src/types/generated/graphql.ts
Due: eslint --fix, prettier --write

Fix creating talk, workshop & event source nodes
  content/events/191126-frontend-con.md
  gatsby-node.js
Due: prettier --write

Improve checks
  gatsby-node.js
Due: prettier --write

Improve checks & fix events field
  gatsby-node.js
Due: prettier --write

Add workshops
  content/workshops/graphql.md
  content/workshops/react-and-graphql.md
Due: prettier --write

Remove unused frontmatter.id
  content/talks/3rd-party-vs-custom-code.md
  content/talks/code-splitting.md
  content/talks/graphpack.md
  content/talks/graphql.md
  content/talks/modern-react.md
  content/talks/react-fiber.md
  content/talks/react-hooks.md
Due: prettier --write

Remove comment
  content/events/191126-frontend-con.md
Due: prettier --write

Add body field
  gatsby-node.js
Due: prettier --write
