Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Add ruhrjs starting time
  content/events/191005-ruhrjs.mdx
Due: none

Flatten title hierarchy
  src/pages/resume.mdx
Due: none

Update dependency eslint-plugin-prettier to v3.1.1
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update about.mdx
  src/pages/about.mdx
Due: none

Fix books
  src/components/books/grid.tsx
Due: eslint --fix

Updates
  src/components/photo.tsx
  src/pages/resume.mdx
Due: eslint --fix

Add print css
  src/components/footer.tsx
  src/components/header.tsx
  src/components/mdx/link.tsx
  src/theme.ts
Due: eslint --fix

Update inline code css
  src/components/mdx/code.tsx
  src/theme.ts
Due: eslint --fix

Update css
  src/components/card.tsx
Due: eslint --fix

Update dependency @types/reach__router to v1.2.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency confusing-browser-globals to v1.0.9
  package.json
  yarn.lock
Due: prettier --write

Update dependency graphql to v14.5.7
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v9.3.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.15.21
  package.json
  yarn.lock
Due: prettier --write

Update dependency styled-components to v4.4.0
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v2.3.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v12.2.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/aws-lambda to v8.10.32
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/lodash to v4.14.139
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.5.0
  package.json
  yarn.lock
Due: prettier --write
