Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate from pnpm to bun package manager
  .content-collections/generated/index.js
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  AGENTS.md
  MIGRATION.md
  README.md
  bun.lock
  package.json
  pnpm-lock.yaml
  scripts/benchmark.ts
Due: eslint --fix, prettier --write

Add performance comparison documentation
  docs/performance-comparison.md
Due: prettier --write

Ignore content-collections generated files
  .gitignore
Due: none

Remove content-collections generated files from tracking
  .content-collections/cache/content-collection-config.mjs
  .content-collections/cache/mapping.json
  .content-collections/generated/allPages.js
  .content-collections/generated/allPosts.js
  .content-collections/generated/index.d.ts
  .content-collections/generated/index.js
Due: eslint --fix, prettier --write

Upgrade knip
  bun.lock
  package.json
Due: prettier --write

Upgrade `babel-plugin-react-compiler`
  bun.lock
  package.json
Due: prettier --write

Upgrade `next` & `react`
  bun.lock
  package.json
Due: prettier --write

Upgrade packages
  bun.lock
  package.json
Due: prettier --write

Upgrade storybook
  bun.lock
  package.json
Due: prettier --write

Update and for and
  MIGRATION.md
  bun.lock
  docs/performance-comparison.md
  package.json
Due: prettier --write

Upgrade dependencies
  bun.lock
  package.json
Due: prettier --write

Upgrade dependencies, migrate linting to , and add Dutch AI Conference 2026 data
  .github/workflows/lint.yml
  .oxlintrc.json
  AGENTS.md
  bun.lock
  e2e/newsletter.spec.ts
  e2e/pages-smoke.spec.ts
  eslint.config.mjs
  package.json
  scripts/benchmark.ts
  scripts/data/dutch-ai-conference-2026.json
  scripts/upsert-conference-appearance.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Upgrade dependencies, migrate linting to , and add Dutch AI Conference 2026 data (#620)
  .github/workflows/lint.yml
  .oxlintrc.json
  AGENTS.md
  bun.lock
  e2e/newsletter.spec.ts
  e2e/pages-smoke.spec.ts
  eslint.config.mjs
  package.json
  scripts/benchmark.ts
  scripts/data/dutch-ai-conference-2026.json
  scripts/upsert-conference-appearance.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fix CI regressions and complete dependency upgrades
  bun.lock
  components/ui/layout/card.tsx
  components/ui/layout/container.tsx
  components/ui/layout/list.tsx
  components/ui/typography/h4.tsx
  components/ui/typography/paragraph.tsx
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

Fix CI regressions and complete dependency upgrades (#621)
  bun.lock
  components/ui/layout/card.tsx
  components/ui/layout/container.tsx
  components/ui/layout/list.tsx
  components/ui/typography/h4.tsx
  components/ui/typography/paragraph.tsx
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

Stabilize CI tests by mocking `@giscus/react` in `vitest` setup
  vitest.setup.ts
Due: eslint --fix

Fix CI test failure from @giscus/react in vitest (#622)
  vitest.setup.ts
Due: eslint --fix

Refresh , talks, workshops, and draft content
  app/about/page.tsx
  app/globals.css
  content/pages/about.mdx
  content/posts/from-screens-to-intent.mdx
  lib/constants.test.ts
  lib/constants.ts
  next.config.ts
  public/images/from-screens-to-intent/frontend-systems-shift.svg
  public/images/from-screens-to-intent/intent-to-ui.svg
  public/images/from-screens-to-intent/same-prompt-different-ui.svg
  scripts/data/dutch-ai-conference-2026.json
Due: eslint --fix, prettier --write

Add private submission links and speaking photo
  app/photo/speaking/route.ts
  assets/images/photo-speaking.jpg
  next.config.ts
Due: eslint --fix

Remove unused Instagram icon
  components/icons/instagram.tsx
Due: eslint --fix

Schedule `From Screens to Intent` and add `/posts/preview/[slug]`
  app/posts/preview/[slug]/page.tsx
  content/posts/from-screens-to-intent.mdx
  lib/posts.test.ts
  lib/posts.ts
Due: eslint --fix

Tighten text layout in `from-screens-to-intent` diagrams
  public/images/from-screens-to-intent/intent-to-ui.svg
  public/images/from-screens-to-intent/same-prompt-different-ui.svg
Due: none

Isolate Playwright runs and harden
  lib/mdx/components.tsx
  playwright.config.ts
Due: eslint --fix

Refine layout and typography in `frontend-systems-shift` diagram
  public/images/from-screens-to-intent/frontend-systems-shift.svg
Due: none

Move right connector arrow outside the generated UI card
  public/images/from-screens-to-intent/intent-to-ui.svg
Due: none

Add more spacing before the generated UI connector
  public/images/from-screens-to-intent/intent-to-ui.svg
Due: none

Replace `from-screens-to-intent` diagrams with downloaded SVG revisions.
  public/images/from-screens-to-intent/frontend-systems-shift.svg
  public/images/from-screens-to-intent/intent-to-ui.svg
  public/images/from-screens-to-intent/same-prompt-different-ui.svg
Due: none

Update X, Instagram, and LinkedIn handles to `glnnreyes`.
  app/about/page.tsx
  components/home/hero.tsx
  components/icons/instagram.tsx
  lib/constants.test.ts
  lib/constants.ts
Due: eslint --fix

Remove Instagram and LinkedIn from the site.
  app/about/page.tsx
  components/home/hero.tsx
  components/icons/instagram.tsx
  components/icons/linkedin.tsx
  lib/constants.test.ts
  lib/constants.ts
Due: eslint --fix

Upgrade to Next.js 16.3 with Cache Components and Instant Navigations.
  .oxlintrc.json
  AGENTS.md
  app/appearances/page.tsx
  app/error.tsx
  app/layout.tsx
  app/loading.tsx
  app/pages.smoke.test.tsx
  app/posts/[slug]/opengraph-image.tsx
  app/posts/page.tsx
  app/talks/page.tsx
  app/workshops/page.tsx
  bun.lock
  components/avatar/avatar-link.tsx
  components/error-boundary.tsx
  components/navigation/menu-link.tsx
  components/offline-banner.tsx
  components/ui/layout/feed-loading.tsx
  components/ui/link/link.tsx
  content-collections.config.ts
  content-collections.ts
  e2e/navigation.spec.ts
  lib/constants.test.ts
  lib/events.ts
  lib/mcp.ts
  lib/mdx/read-mdx-file.ts
  lib/pages.ts
  lib/posts.ts
  lib/route.test.ts
  lib/route.ts
  lib/talks.ts
  lib/workshops.ts
  next.config.ts
  package.json
  tsconfig.json
  types/react-view-transition.d.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

Teach knip 6 to ignore MDX content files.
  knip.json
Due: prettier --write

Keep Instant Navigations and the shell out of a blocking Suspense.
  app/about/page.tsx
  app/layout.tsx
  app/pages.smoke.test.tsx
  e2e/accessibility.spec.ts
  e2e/navigation.spec.ts
  lib/events.ts
  lib/talks.ts
  lib/workshops.ts
Due: eslint --fix

Keep the layout shell static for Cache Components.
  app/layout.tsx
  app/providers.tsx
  components/footer/footer.tsx
  components/navigation/navbar.tsx
  lib/time.ts
Due: eslint --fix

Allow Playwright to load Next.js dev assets from `127.0.0.1`.
  next.config.ts
Due: eslint --fix

Remove Claude GitHub Actions that need an Anthropic token.
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --write
