Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove header heading anchor
  src/components/mdx/headings.tsx
  src/templates/post/header.tsx
Due: eslint --fix

Remove paging for now
  src/pages/blog.tsx
Due: eslint --fix

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.1.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.51
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/react-helmet to v5.0.9
  package.json
  yarn.lock
Due: prettier --write

Auto-open browser on start & add serve script
  package.json
Due: prettier --write

Prevent flashing moon icon on initial render
  src/components/dark-mode-button.tsx
Due: eslint --fix

Fix menu flashing on initial render
  src/components/menu.tsx
Due: eslint --fix

Fix intro spacing
  src/pages/index.tsx
Due: eslint --fix

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Remove color transitions
  src/components/dark-mode-button.tsx
  src/components/global-style.tsx
  src/components/header.tsx
Due: eslint --fix

Fix arrow link
  src/components/arrow-link.tsx
  src/pages/index.tsx
Due: eslint --fix

Fix active link state
  src/components/menu.tsx
  src/pages/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Update mdx monorepo to v1.1.6
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.7.0
  package.json
  yarn.lock
Due: prettier --write

Fetch only published posts
  gatsby-node.js
  src/pages/blog.tsx
  src/pages/index.tsx
  src/posts/hello-world-1/index.md
  src/posts/hello-world-2/index.md
  src/posts/hello-world-4/index.md
  src/posts/hello-world/index.md
  src/types/generated/graphql.ts
Due: eslint --fix, prettier --write

Make blog index page sexier
  src/components/header.tsx
  src/pages/blog.tsx
  src/templates/post/index.tsx
  src/theme.ts
  src/types/generated/graphql.ts
Due: eslint --fix

Remove unused import
  src/pages/blog.tsx
Due: eslint --fix

Simplify gatsby config in codegen.yml
  codegen.yml
Due: prettier --write

Fix passing invalid prop to dom
  src/templates/post/header.tsx
Due: eslint --fix

Add default template for MDX pages
  gatsby-config.js
  src/components/seo.tsx
  src/pages/about.mdx
  src/templates/default.tsx
Due: eslint --fix, prettier --write

Fix slug field for non-blog MDX pages
  gatsby-node.js
Due: prettier --write

Remove anchor at all H1 elements
  src/components/mdx/headings.tsx
  src/templates/post/header.tsx
Due: eslint --fix

Alias & filter all blog post queries
  gatsby-node.js
  src/pages/blog.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Add some rough content
  src/pages/about.mdx
  src/pages/contact.mdx
  src/pages/talks.mdx
  src/pages/workshops.mdx
Due: none

Add PhotoQuery type
  src/components/photo.tsx
Due: eslint --fix

Fix transitions
  src/components/header.tsx
  src/components/menu.tsx
Due: eslint --fix

Update dependency @types/node to v12.7.1
  package.json
  yarn.lock
Due: prettier --write

Update graphqlcodegenerator monorepo to v1.5.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
