Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade `date-fns`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade `next-themes`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade `@headlessui/react` to v2.2.7
  components/home/hero-avatar.tsx
  components/navigation/menu.tsx
  components/navigation/navbar-avatar.tsx
  components/navigation/theme-select.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Upgrade `next-mdx-remote`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade prisma
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix route
  app/photo/route.ts
Due: eslint --fix

Revert "Upgrade `next-mdx-remote`"
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade next & react
  app/appearances/[slug]/page.tsx
  app/posts/[slug]/meta/route.ts
  app/posts/[slug]/page.tsx
  app/subscribe/action.ts
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
  components/intersection/intersection.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Misc fixes
  components/newsletter/newsletter-form.tsx
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

Upgrade tailwind
  app/globals.css
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  postcss.config.mjs
  tailwind.config.ts
Due: eslint --fix, prettier --write

Remove middot
  app/posts/[slug]/page.tsx
Due: eslint --fix

Use page route helper types
  app/appearances/[slug]/page.tsx
  app/posts/[slug]/meta/route.ts
  app/posts/[slug]/page.tsx
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
Due: eslint --fix

Upgrade `sharp`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade more tailwind packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade node types
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade `next-mdx-remote` and plugins
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

Fix prose width
  app/globals.css
Due: none

Upgrade `zod`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade `eslint` and add rules into `eslint.config.mjs`
  .eslintignore
  .eslintrc.cjs
  app/about/page.tsx
  app/layout.tsx
  app/posts/[slug]/meta/route.ts
  app/posts/[slug]/opengraph-image.tsx
  app/posts/[slug]/page.tsx
  app/providers.tsx
  app/subscribe/action.ts
  app/subscribe/route.ts
  components/appearances/event-location.tsx
  components/avatar/avatar.tsx
  components/home/appearances.tsx
  components/home/hero-avatar.tsx
  components/navigation/menu-link.tsx
  components/navigation/navbar-avatar.tsx
  components/navigation/navbar-border.tsx
  components/navigation/theme-select.tsx
  components/newsletter/newsletter-form.tsx
  components/posts/about-author.tsx
  components/posts/giscus.tsx
  components/ui/elements/icon-button.tsx
  components/ui/forms/button.tsx
  components/ui/mdx/mdx-content.tsx
  eslint.config.mjs
  lib/events.ts
  lib/hooks/use-intersection.ts
  lib/hooks/use-theme.ts
  lib/mdx/components.tsx
  lib/mdx/read-mdx-file.ts
  lib/prisma.ts
  lib/talks.ts
  lib/workshops.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix eslint
  components/ui/layout/html.tsx
  eslint.config.mjs
  lib/prisma.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Handle geist font correctly
  app/globals.css
  components/ui/layout/html.tsx
  lib/mdx/components.tsx
Due: eslint --fix

Fix image paths in `2023-rebuild.mdx`
  components/navigation/menu-link.tsx
  content/posts/2023-rebuild.mdx
Due: eslint --fix

Upgrade `@types/eslint`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use TS for next config
  next.config.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
