Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Upgrade packages
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade Storybook packages from v9 to v10
  eslint.config.mjs
  knip.json
  lib/posts.test.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix all lint errors related to strict boolean expressions
  app/pages.smoke.test.tsx
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
  components/appearances/appearances-feed.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-date.tsx
  components/home/appearances.tsx
  components/navigation/menu-link.tsx
  components/navigation/menu.tsx
  components/navigation/theme-toggle.tsx
  components/talks/talks-feed.tsx
  components/ui/layout/article.tsx
  components/ui/layout/card.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
  components/workshops/workshops-feed.tsx
  lib/mdx/components.tsx
Due: eslint --fix

Migrate to Content Collections for type-safe content management
  .content-collections/cache/content-collection-config.mjs
  .content-collections/cache/mapping.json
  .content-collections/generated/allPages.js
  .content-collections/generated/allPosts.js
  .content-collections/generated/index.d.ts
  .content-collections/generated/index.js
  __mocks__/content-collections.ts
  app/about/page.tsx
  app/legal/page.tsx
  app/not-found.tsx
  app/pages.smoke.test.tsx
  app/posts/[slug]/meta/route.ts
  app/privacy/page.tsx
  app/subscribe/confirm/page.tsx
  app/subscribe/thank-you/page.tsx
  app/uses/page.tsx
  components/appearances/event-appearances.tsx
  components/ui/layout/article.tsx
  components/ui/layout/card.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
  content-collections.ts
  lib/pages.ts
  lib/posts.test.ts
  lib/posts.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

Apply formatting fixes from Prettier and ESLint
  content-collections.config.ts
Due: eslint --fix

Fix CI failures by generating Content Collections before lint/test
  .content-collections/cache/content-collection-config.mjs
  .content-collections/cache/mapping.json
  .content-collections/generated/allPages.js
  .content-collections/generated/allPosts.js
  .content-collections/generated/index.d.ts
  .content-collections/generated/index.js
  .github/workflows/lint.yml
  .github/workflows/test.yml
  eslint.config.mjs
Due: eslint --fix, prettier --write

Fix GitHub Actions workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

Fix type checking and knip failures
  app/pages.smoke.test.tsx
  knip.json
  lib/mdx/get-mdx-files.ts
Due: eslint --fix, prettier --write

Consolidate documentation into `AGENTS.md`
  AGENTS.md
  CLAUDE.md
  CURSOR.md
Due: prettier --write

Refactor: Update content collection configuration and generated files
  .content-collections/cache/content-collection-config.mjs
  .content-collections/cache/mapping.json
  .content-collections/generated/allPages.js
  .content-collections/generated/allPosts.js
  .content-collections/generated/index.d.ts
  .content-collections/generated/index.js
  AGENTS.md
  app/pages.smoke.test.tsx
  app/posts/[slug]/opengraph-image.tsx
  components/home/appearances.tsx
Due: eslint --fix, prettier --write

Refactor: Update content collection configuration and generated files (#614)
  .content-collections/cache/content-collection-config.mjs
  .content-collections/cache/mapping.json
  .content-collections/generated/allPages.js
  .content-collections/generated/allPosts.js
  .content-collections/generated/index.d.ts
  .content-collections/generated/index.js
  AGENTS.md
  app/pages.smoke.test.tsx
  app/posts/[slug]/opengraph-image.tsx
  components/home/appearances.tsx
Due: eslint --fix, prettier --write

Fix esbuild security vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade storybook
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update components and routes with code style improvements
  AGENTS.md
  app/mcp/route.test.ts
  app/mcp/route.ts
  app/posts/[slug]/opengraph-image.tsx
  components/appearances/event-lead.tsx
  components/avatar/avatar.tsx
  components/mcp/mcp-content.tsx
  components/newsletter/newsletter-form.tsx
  components/ui/elements/alert.tsx
  components/ui/elements/badge.tsx
  components/ui/elements/icon-button.tsx
  components/ui/forms/button.tsx
  components/ui/layout/article.tsx
  components/ui/layout/card.tsx
  components/ui/layout/feed.tsx
  components/ui/layout/page.tsx
  components/ui/sonner.tsx
  lib/mdx/components.tsx
Due: eslint --fix, prettier --write

Upgrade eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade tailwind
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
