Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update agent guidance to avoid conventional commits
  AGENTS.md
Due: prettier --write

Enforce curly braces on all control statements
  eslint.config.mjs
  lib/mcp.test.ts
Due: eslint --fix

Fix GitHub Actions workflows for pnpm
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

Fix TypeScript errors in CI by adding proper type definitions
  app/appearances/[slug]/page.tsx
  app/posts/[slug]/meta/route.ts
  app/posts/[slug]/page.tsx
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
  lib/mdx/components.tsx
  types/next.ts
Due: eslint --fix

Add image module type declarations for CI
  types/images.d.ts
Due: eslint --fix

Fix formatting in image type declarations
  types/images.d.ts
Due: eslint --fix

Clean up unused exports and apply final formatting
  types/images.d.ts
  types/next.ts
Due: eslint --fix

Reduce navigation menu item padding to match avatar height
  components/navigation/menu-link.tsx
Due: eslint --fix

Refactor navigation components to use modern Headless UI v2 API
  components/navigation/menu.tsx
  components/navigation/theme-select.tsx
Due: eslint --fix

Tighten navigation spacing and copy button icon
  components/navigation/menu-link.tsx
  components/ui/elements/copy-to-clipboard.tsx
  components/ui/elements/skip-navigation-link.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate from Headless UI to shadcn/ui with Framer Motion animations
  app/globals.css
  components.json
  components/footer/footer.tsx
  components/home/hero-avatar.tsx
  components/navigation/menu-link.tsx
  components/navigation/menu.tsx
  components/navigation/navbar-avatar.tsx
  components/navigation/navbar.tsx
  components/navigation/theme-select.tsx
  components/navigation/theme-toggle.tsx
  components/newsletter/newsletter.tsx
  components/ui/popover.tsx
  lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add React Compiler in opt-in mode (experimental)
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add Sonner toast notifications with theme support
  app/layout.tsx
  components/ui/sonner.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove forwardRef (React 19 feature) and clean up unused code
  components/ui/elements/alert.tsx
  components/ui/elements/icon-button.tsx
  components/ui/forms/select.tsx
  components/ui/popover.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
