Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10.8.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-react-hooks to v2
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v11
  package.json
  yarn.lock
Due: prettier --write

Update dependency graphql to v14.5.0
  package.json
  yarn.lock
Due: prettier --write

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Event card mini tweaks
  src/templates/talk.tsx
Due: eslint --fix

Render icons only if event is over
  src/templates/talk.tsx
Due: eslint --fix

Split components & micro improvements
  src/components/card-events.tsx
  src/components/event.tsx
  src/components/events.tsx
  src/components/talks/talks.tsx
  src/icons/globe.svg
  src/templates/talk.tsx
  src/utils.ts
Due: eslint --fix

Add talk upsell to talk pages
  src/components/talk-upsell.tsx
  src/pages/talks.mdx
  src/templates/talk.tsx
Due: eslint --fix

Fix mail link
  src/components/link.tsx
Due: eslint --fix

Ignore unescaped chars in react
  .eslintrc.js
Due: prettier --write

Add description field in workshop type
  gatsby-node.js
Due: prettier --write

Create workshop events & rename workshop files
  content/events/190424-react-finland.mdx
  content/events/190425-react-finland.mdx
  content/events/190911-upleveled.mdx
  content/events/190926-react-alicante.mdx
  content/events/191010-webcamp-zagreb.mdx
  content/events/191011-webcamp-zagreb.mdx
  content/events/191125-frontend-con.mdx
  content/workshops/graphql-for-javascript-developers.md
  content/workshops/react-and-graphql-from-zero-to-production.md
Due: prettier --write

Fix workshop events
  gatsby-node.js
Due: prettier --write

Update graphql typings
  src/types/generated/graphql.ts
Due: eslint --fix

Add workshop cards
  src/components/workshops/workshops.tsx
  src/pages/workshops.mdx
Due: eslint --fix

Add workshop pages
  gatsby-node.js
  src/components/event.tsx
  src/components/workshop-upsell.tsx
  src/pages/workshops.mdx
  src/templates/workshop.tsx
  src/types/generated/graphql.ts
Due: eslint --fix, prettier --write

Change menu order
  src/components/menu.tsx
Due: eslint --fix

Update dependency gatsby to v2.13.80
  package.json
  yarn.lock
Due: prettier --write

Update dependency graphql to v14.5.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v11.0.2
  package.json
  yarn.lock
Due: prettier --write

Downgrade gatsby
  package.json
  yarn.lock
Due: prettier --write

Update dependency graphql to v14.5.2
  package.json
  yarn.lock
Due: prettier --write
