Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Update dependency @types/react to v16.8.25
  package.json
  yarn.lock
Due: prettier --write

Update graphqlcodegenerator monorepo to v1.5.0
  package.json
  yarn.lock
Due: prettier --write

Update body bg
  src/components/global-style.tsx
Due: eslint --fix

Revert "Update graphqlcodegenerator monorepo to v1.5.0"
  package.json
  yarn.lock
Due: prettier --write

Update dependency husky to v3.0.3
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Remove obsolete instructions
  src/components/photo.tsx
Due: eslint --fix

Add about page header
  src/components/about-header.tsx
  src/images/photo-full.jpg
  src/pages/about.mdx
  src/types/generated/graphql.ts
Due: eslint --fix

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Fresh photo
  src/images/photo-full.jpg
Due: none

Align header height with the post header height
  src/components/about-header.tsx
Due: eslint --fix

Rename to PhotoHeader
  src/components/photo-header.tsx
  src/pages/about.mdx
  src/types/generated/graphql.ts
Due: eslint --fix

Remove header bg transition
  src/components/header.tsx
Due: eslint --fix

Use that tiny middot
  src/pages/blog.tsx
  src/templates/post/header.tsx
Due: eslint --fix

Fix page title
  src/templates/default.tsx
Due: eslint --fix

Update mdx monorepo to v1.2.2
  package.json
  yarn.lock
Due: prettier --write

Update react monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/react to v16.9.0
  package.json
  yarn.lock
Due: prettier --write

Improve image quality
  src/components/photo-header.tsx
Due: eslint --fix

Tweak typography
  src/components/mdx/blockquote.tsx
  src/components/mdx/code.tsx
  src/components/mdx/headings.tsx
  src/components/mdx/ordered-list.tsx
  src/components/mdx/paragraph.tsx
  src/components/mdx/table.tsx
  src/components/mdx/unordered-list.tsx
Due: eslint --fix

Add about content
  src/pages/about.mdx
  src/types/generated/graphql.ts
Due: eslint --fix

Make photo nicer
  package.json
  src/components/photo.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Open external links in new tab
  src/components/link.tsx
  src/components/mdx/link.tsx
Due: eslint --fix

Reduce shadow alpha
  src/components/photo.tsx
Due: eslint --fix

Typography tweaks
  src/components/mdx/headings.tsx
  src/components/mdx/ordered-list.tsx
  src/components/mdx/unordered-list.tsx
Due: eslint --fix

Add more content
  src/components/photo.tsx
  src/components/speaker-header.tsx
  src/images/photo-full.jpg
  src/images/photo.jpg
  src/images/portrait.jpg
  src/images/speaker.jpg
  src/pages/404.mdx
  src/pages/404.tsx
  src/pages/about/header.tsx
  src/pages/about/index.mdx
  src/pages/contact.mdx
  src/pages/talks.mdx
Due: eslint --fix

Add react-tilt types & update graphql types
  src/types/generated/graphql.ts
  src/types/tilt.d.ts
Due: eslint --fix

Footer tweaks
  src/components/footer.tsx
  src/components/global-style.tsx
  src/components/layout.tsx
  src/pages/workshops.mdx
Due: eslint --fix

Create a separate file per component
  src/pages/index.tsx
  src/pages/index/content.tsx
  src/pages/index/excerpt.tsx
  src/pages/index/greeting.tsx
  src/pages/index/heading.tsx
  src/pages/index/index.tsx
  src/pages/index/intro-content.tsx
  src/pages/index/intro-section.tsx
  src/pages/index/intro.tsx
  src/pages/index/post.tsx
  src/pages/index/section.tsx
  src/pages/index/tagline.tsx
  src/pages/index/title.tsx
Due: eslint --fix
