Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

Add CLAUDE.md configuration file
  CLAUDE.md
Due: prettier --write

Add prop interface naming convention rule
  CLAUDE.md
Due: prettier --write

Add spacing strategy rule to CLAUDE.md
  CLAUDE.md
Due: prettier --write

refactor mdx helpers for reusable options
  components/ui/mdx/mdx-content.tsx
  lib/mdx/read-mdx-file.ts
Due: eslint --fix

build mcp page from mdx content
  app/mcp/page.tsx
  components/mcp/mcp-content.tsx
  content/pages/mcp.mdx
Due: eslint --fix

tune mcp page presentation
  app/mcp/page.tsx
  components/ui/elements/alert.tsx
  components/ui/typography/h2.tsx
  components/ui/typography/h3.tsx
Due: eslint --fix

clarify mcp header lead
  app/mcp/page.tsx
Due: eslint --fix

add mcp server route and cli tooling
  app/api/mcp/route.ts
  package.json
  pnpm-lock.yaml
  scripts/mcp-server.ts
Due: eslint --fix, prettier --write

rewrite json traffic from /mcp to api handler
  content/pages/mcp.mdx
  middleware.ts
Due: eslint --fix

format layout and components
  app/appearances/[slug]/page.tsx
  app/layout.tsx
  app/workshops/[slug]/page.tsx
  components/appearances/event-appearances.tsx
  components/appearances/event-lead.tsx
  components/home/hero.tsx
  components/icons/github.tsx
  components/icons/instagram.tsx
  components/icons/linkedin.tsx
  components/icons/x.tsx
  components/intersection/intersection-provider.tsx
  components/navigation/menu.tsx
  components/navigation/navbar.tsx
  components/newsletter/newsletter.tsx
  components/posts/about-author.tsx
  components/posts/comments.tsx
  components/posts/post-footer.tsx
  components/ui/elements/skip-navigation-link.tsx
  components/ui/elements/tag-cloud.tsx
  components/ui/layout/article.tsx
  components/ui/layout/card.tsx
  components/ui/layout/content.tsx
  components/ui/layout/main.tsx
  components/ui/layout/page.tsx
  components/ui/link/action-link.tsx
  content/posts/tuner.mdx
  lib/place.ts
Due: eslint --fix

Replace focus with focus-visible pseudo-class throughout codebase
  CLAUDE.md
  components/ui/elements/icon-button.tsx
  components/ui/forms/input.tsx
  components/ui/forms/select.tsx
Due: eslint --fix, prettier --write

refactor mcp server logic into shared core
  app/api/mcp/route.ts
  lib/mcp/core.ts
  scripts/mcp-server.ts
Due: eslint --fix

test: cover mcp core and route handlers
  package.json
  tests/mcp-core.test.ts
  tests/mcp-route.test.ts
Due: eslint --fix, prettier --write

docs: mention tooling for mcp usage examples
  content/pages/mcp.mdx
Due: none

add blog post explaining MCP for beginners
  content/posts/mcp-explained.mdx
Due: none

move MCP API endpoint from /api/mcp to /mcp
  app/mcp/route.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
