Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Fix og image url
  app/posts/[slug]/page.tsx
Due: eslint --fix

Fix disabled state
  components/newsletter/NewsletterForm.tsx
Due: eslint --fix

Update docker compose version
  docker-compose.yaml
Due: none

Adjust spacing between posts and title
  components/home/Posts.tsx
Due: eslint --fix

Use different ConvertKit forms for dark and light mode
  app/subscribe/route.ts
  components/navigation/ThemeSelect.tsx
  components/newsletter/NewsletterForm.tsx
  hooks/useTheme.ts
  lib/newsletter.ts
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add global not found page
  app/not-found.tsx
  content/pages/not-found.mdx
Due: eslint --fix

Upgrade @types/react to 18.0.37
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add spin animation to avatar
  components/avatar/Avatar.tsx
Due: eslint --fix

Adjust image size to match the container size
  components/avatar/Avatar.tsx
Due: eslint --fix

Update order of social media links
  app/about/page.tsx
Due: eslint --fix

Fix avatar padding
  components/avatar/Avatar.tsx
Due: eslint --fix

Add postinstall script to generate Prisma client
  package.json
Due: prettier --write

Upgrade pretter
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade @types/node to 18.16.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use @fontsource/inter instead of local fonts
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-Regular.ttf
  assets/images/events/remix-conf-2023.png
  package.json
  pages/api/og.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Use file based opengraph images
  app/layout.tsx
  app/og/route.ts
  app/opengraph-image.tsx
  app/posts/[slug]/opengraph-image.tsx
  app/posts/[slug]/page.tsx
  next.config.js
  pages/api/og.tsx
Due: eslint --fix, prettier --write

Toggle meta theme color based on theme
  hooks/useTheme.ts
Due: eslint --fix

Remove concurrently
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove theme color meta tag
  app/layout.tsx
  hooks/useTheme.ts
Due: eslint --fix

Use vercel postgres
  .gitignore
  prisma/.env.example
  prisma/schema.prisma
Due: none

Use postgres prisma url
  prisma/schema.prisma
Due: none

Add overflow-hidden to `Card` component
  components/ui/layout/Card.tsx
Due: eslint --fix

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade @types/react to 18.2.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade packages
  app/page.tsx
  components/ui/mdx/MDXRemoteContent.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix linkedin link
  lib/constants.ts
Due: eslint --fix

Fix optional chaining in contentlayer.config.ts
  contentlayer.config.ts
Due: eslint --fix
