Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve the copy of the pages
  app/appearances/page.tsx
  app/posts/page.tsx
  app/talks/page.tsx
  app/workshops/page.tsx
Due: eslint --fix

Add uses page
  app/uses/page.tsx
  content/pages/uses.mdx
Due: eslint --fix

Fix links to talks and workshops from event appearances
  components/appearances/EventAppearances.tsx
Due: eslint --fix

Adjust header width
  components/ui/layout/Page.tsx
Due: eslint --fix

Improve copy on about page
  content/pages/about.mdx
Due: none

Use gradient text color for `H1`
  components/ui/typography/H1.tsx
Due: eslint --fix

Add missing period to uses heading
  content/pages/uses.mdx
Due: none

Remove duplicate `H1`
  content/posts/test.mdx
Due: none

Adjust navbar background color
  components/navigation/Navbar.tsx
Due: eslint --fix

Adjust lead text color
  components/ui/typography/Lead.tsx
Due: eslint --fix

Remove `aria-hidden` from SVGs
  icons/GitHub.tsx
  icons/Instagram.tsx
  icons/LinkedIn.tsx
  icons/Twitter.tsx
Due: eslint --fix

Remove unused `types/mdx.d.ts`
  types/mdx.d.ts
Due: eslint --fix

Handle mobile appearance of code blocks
  lib/mdx.tsx
Due: eslint --fix

Use Roboto Mono for code
  components/ui/layout/Html.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Improve image styling
  lib/mdx.tsx
Due: eslint --fix

Add divider between abstract and appearances
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
Due: eslint --fix

Change direction of gradient
  components/ui/typography/H1.tsx
Due: eslint --fix

Initial handling of anchor links
  .eslintrc.js
  components/ui/elements/Link.tsx
  components/ui/typography/H1.tsx
  components/ui/typography/H2.tsx
  components/ui/typography/H3.tsx
  components/ui/typography/H4.tsx
  contentlayer.config.ts
  lib/mdx.tsx
Due: eslint --fix, prettier --write

Upgrade Tailwind CSS
  components/appearances/AppearanceCard.tsx
  components/appearances/EventAppearances.tsx
  components/ui/forms/Button.tsx
  components/ui/layout/Feed.tsx
  components/ui/typography/H1.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --fix, prettier --write

Upgrade Contentlayer
  components/ui/mdx/MDXContent.tsx
  contentlayer.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Reuse `Container` component in various places
  components/footer/Footer.tsx
  components/home/Hero.tsx
  components/navigation/Navbar.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Container.tsx
  components/ui/layout/Content.tsx
  components/ui/layout/Page.tsx
  components/ui/typography/H1.tsx
Due: eslint --fix

Implement anchor links for headings and smooth scrolling
  components/ui/layout/Html.tsx
  contentlayer.config.ts
  lib/mdx.tsx
  lib/rehype.ts
  package.json
Due: eslint --fix, prettier --write

Add a border to the navbar
  components/navigation/Navbar.tsx
  components/navigation/NavbarBorder.tsx
Due: eslint --fix

Add back link to posts
  app/posts/[slug]/page.tsx
  components/posts/BackLink.tsx
  components/ui/layout/Article.tsx
Due: eslint --fix

Fix letter spacing on `H1`
  components/ui/typography/H1.tsx
Due: eslint --fix

Improve copy on uses page
  content/pages/uses.mdx
Due: none

Handle back link on mobile
  components/posts/BackLink.tsx
  components/ui/layout/Article.tsx
Due: eslint --fix

Apply prose styles more selectively
  components/appearances/AppearancesFeed.tsx
  components/appearances/EventAppearances.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Feed.tsx
Due: eslint --fix

Improve layouts
  app/talks/page.tsx
  app/workshops/page.tsx
  components/appearances/AppearancesFeed.tsx
  components/posts/PostsFeed.tsx
  components/ui/layout/Feed.tsx
Due: eslint --fix

Add `AboutAuthorCard` to post page
  app/posts/[slug]/page.tsx
  components/posts/AboutAuthorCard.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Card.tsx
Due: eslint --fix

Adjust spacing of card items
  components/ui/layout/Feed.tsx
Due: eslint --fix

Adjust font size of `H4`
  components/ui/typography/H4.tsx
Due: eslint --fix

Add newsletter card to post footer
  app/posts/[slug]/page.tsx
  components/home/Newsletter.tsx
  components/newsletter/NewsletterForm.tsx
  components/posts/AboutAuthor.tsx
  components/posts/PostFooter.tsx
  components/ui/layout/Article.tsx
Due: eslint --fix

Add comments section to blog posts
  app/page.tsx
  components/home/Appearances.tsx
  components/newsletter/Newsletter.tsx
  components/posts/AboutAuthor.tsx
  components/posts/Comments.tsx
  components/posts/Giscus.tsx
  components/posts/PostFooter.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Section.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Adjust profile image border
  components/navigation/Navbar.tsx
Due: eslint --fix

Upgrade prettier-plugin-tailwindcss to 0.2.6
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove test post
  content/posts/test.mdx
Due: none

Adjust tracking on `H1`
  components/ui/typography/H1.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
