Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Simplify Navbar component
  components/ui/navbar/Navbar.tsx
Due: eslint --fix

Prefer `ComponentPropsWithoutRef` over `ComponentProps`
  components/ui/social/SocialList.tsx
Due: eslint --fix

Prefer `ComponentPropsWithoutRef` over `ComponentProps`
  icons/GitHub.tsx
  icons/Instagram.tsx
  icons/LinkedIn.tsx
  icons/Twitter.tsx
Due: eslint --fix

Set initial MDX components
  .eslintrc.js
  components/ui/mdx.tsx
  components/ui/text/H1.tsx
  components/ui/text/H2.tsx
  components/ui/text/H3.tsx
  components/ui/text/H4.tsx
  components/ui/text/Paragraph.tsx
  mdx-components.tsx
  utils/post.ts
Due: eslint --fix, prettier --write

Clean up typing
  app/layout.tsx
  components/ui/layout/Main.tsx
Due: eslint --fix

Add typography styles to post layout
  app/posts/[slug]/layout.tsx
Due: eslint --fix

Add test post
  content/posts/test/index.mdx
Due: none

Fix layout types
  app/layout.tsx
  app/posts/[slug]/layout.tsx
Due: eslint --fix

Add a function to get the title of a page
  app/layout.tsx
  utils/metadata.ts
Due: eslint --fix

Create shared Article component for MDX pages
  app/legal-notice/layout.tsx
  app/legal-notice/page.tsx
  app/posts/[slug]/layout.tsx
  app/posts/[slug]/page.tsx
  components/ui/layout/Article.tsx
  content/legal-notice.mdx
  utils/post.ts
Due: eslint --fix

Remove background color
  components/ui/layout/Body.tsx
Due: eslint --fix

Add remark-gfm plugin to MDX
  next.config.js
  next.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

Clean up config files
  .eslintrc.js
  prettier.config.js
  tailwind.config.js
Due: prettier --write

Configure remark-gfm plugin for MDX
  utils/post.ts
Due: eslint --fix

Use Contentlayer for content management
  .contentlayer/.cache/v0.3.0/compiled-contentlayer-config-CDFZDIR4.mjs
  .contentlayer/.cache/v0.3.0/compiled-contentlayer-config-CDFZDIR4.mjs.map
  .contentlayer/.cache/v0.3.0/data-CDFZDIR4.json
  .contentlayer/generated/Page/_index.json
  .contentlayer/generated/Page/_index.mjs
  .contentlayer/generated/Page/legal-notice.mdx.json
  .contentlayer/generated/Post/_index.json
  .contentlayer/generated/Post/_index.mjs
  .contentlayer/generated/Post/posts__2019-year-in-review__index.mdx.json
  .contentlayer/generated/Post/posts__how-to-disable-code-splitting-in-webpack__index.mdx.json
  .contentlayer/generated/Post/posts__test__index.mdx.json
  .contentlayer/generated/index.d.ts
  .contentlayer/generated/index.mjs
  .contentlayer/generated/types.d.ts
  .contentlayer/package.json
  app/[slug]/layout.tsx
  app/[slug]/page.tsx
  app/layout.tsx
  app/legal-notice/layout.tsx
  app/legal-notice/page.tsx
  app/posts/[slug]/page.tsx
  components/footer/Footer.tsx
  components/home/PostsSection.tsx
  components/ui/home/Post.tsx
  components/ui/layout/Footer.tsx
  content/legal-notice.mdx
  content/posts/2019-year-in-review/index.mdx
  content/posts/how-to-disable-code-splitting-in-webpack/index.mdx
  content/posts/test/index.mdx
  contentlayer.config.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  utils/post.ts
Due: eslint --fix, prettier --write

Ignore .contentlayer folder from git
  .contentlayer/.cache/v0.3.0/compiled-contentlayer-config-CDFZDIR4.mjs
  .contentlayer/.cache/v0.3.0/compiled-contentlayer-config-CDFZDIR4.mjs.map
  .contentlayer/.cache/v0.3.0/data-CDFZDIR4.json
  .contentlayer/generated/Page/_index.json
  .contentlayer/generated/Page/_index.mjs
  .contentlayer/generated/Page/legal-notice.mdx.json
  .contentlayer/generated/Post/_index.json
  .contentlayer/generated/Post/_index.mjs
  .contentlayer/generated/Post/posts__2019-year-in-review__index.mdx.json
  .contentlayer/generated/Post/posts__how-to-disable-code-splitting-in-webpack__index.mdx.json
  .contentlayer/generated/Post/posts__test__index.mdx.json
  .contentlayer/generated/index.d.ts
  .contentlayer/generated/index.mjs
  .contentlayer/generated/types.d.ts
  .contentlayer/package.json
  .gitignore
Due: eslint --fix, prettier --write

Update @types/node to 18.15.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use contentlayer hook to render MDX
  app/[slug]/page.tsx
  app/posts/[slug]/page.tsx
  contentlayer.config.ts
  hooks/useMDXComponent.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Move metadata generation to page components
  app/[slug]/layout.tsx
  app/[slug]/page.tsx
  app/posts/[slug]/layout.tsx
  app/posts/[slug]/page.tsx
Due: eslint --fix

Fix typo in generateMetadata function name
  app/[slug]/page.tsx
  app/posts/[slug]/page.tsx
Due: eslint --fix

Fix typo in generateStaticParams function name
  app/[slug]/page.tsx
  app/posts/[slug]/page.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add padding to post layout
  app/posts/[slug]/layout.tsx
Due: eslint --fix

Use Rust-based MDX compiler
  next.config.js
Due: prettier --write

Install rehype-pretty-code, rehype-autolink-headings, and rehype-slug
  content/posts/test.mdx
  contentlayer.config.ts
Due: eslint --fix

Install Shiki
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add missing dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Move back @prisma/client as a dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add Reaction and View models and lowercase fields
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix

Remove migrations
  prisma/migrations/20230311064745_initial/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

Move .env to prisma/.env
  .env
  .gitignore
Due: none

Remove unused image from Hero component
  components/home/HeroSection.tsx
  components/ui/layout/Hero.tsx
Due: eslint --fix

Remove duplicate images
  content/posts/how-to-disable-code-splitting-in-webpack.mdx
Due: none

Add readingTime computed field to Post
  components/ui/home/Post.tsx
  content/posts/2019-year-in-review.mdx
  content/posts/how-to-disable-code-splitting-in-webpack.mdx
  content/posts/test.mdx
  contentlayer.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix Prettier errors
  .prettierignore
  components/ui/home/Post.tsx
  contentlayer.config.ts
Due: eslint --fix

Use grid for posts on home page
  app/page.tsx
Due: eslint --fix

Render reading time for posts
  components/home/PostsSection.tsx
  components/ui/home/Post.tsx
  contentlayer.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add ContentSection component
  components/home/ContentSection.tsx
Due: eslint --fix
