Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Replace stone with slate
  app/talks/page.tsx
  app/workshops/page.tsx
  components/appearances/AppearanceCard.tsx
  components/appearances/EventAppearances.tsx
  components/appearances/EventLocation.tsx
  components/appearances/EventWebsite.tsx
  components/footer/Footer.tsx
  components/home/Hero.tsx
  components/navigation/Navbar.tsx
  components/navigation/NavbarBorder.tsx
  components/newsletter/Newsletter.tsx
  components/newsletter/NewsletterForm.tsx
  components/posts/AboutAuthor.tsx
  components/posts/BackLink.tsx
  components/posts/Comments.tsx
  components/ui/elements/ActionLink.tsx
  components/ui/elements/Badge.tsx
  components/ui/elements/Divider.tsx
  components/ui/forms/Button.tsx
  components/ui/forms/Input.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
  components/ui/layout/Page.tsx
  components/ui/typography/H1.tsx
  components/ui/typography/Lead.tsx
Due: eslint --fix

Adjust spacing in `NewsletterForm`
  components/newsletter/NewsletterForm.tsx
Due: eslint --fix

Adjust letter spacing in headings
  components/ui/typography/H2.tsx
  components/ui/typography/H3.tsx
  components/ui/typography/H4.tsx
Due: eslint --fix

Remove blog post
  content/posts/building-a-blog-with-nextjs-13-app-directory.mdx
Due: none

Improve code block appearance
  contentlayer.config.ts
  lib/mdx.tsx
  lib/rehype.ts
Due: eslint --fix

Use single digit for day of month in `DateDisplay`
  components/ui/elements/DateDisplay.tsx
Due: eslint --fix

Adjust letter spacing
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
Due: eslint --fix

Use latest Inter font
  assets/fonts/Inter.var.woff2
  components/ui/layout/Html.tsx
Due: eslint --fix

Add some new posts
  content/posts/breaking-into-ai-as-a-web-developer.mdx
  content/posts/building-a-blog-with-next-13-contentlayer-and-tailwind.mdx
  content/posts/fully-type-safe-polymorphic-react-component.mdx
Due: none

Improve text decoration appearance on article links
  lib/mdx.tsx
Due: eslint --fix

Use `teal` decoration color for links
  lib/mdx.tsx
Due: eslint --fix

Remove underline on focus with keyboard
  lib/mdx.tsx
Due: eslint --fix

Remove unnecessary inline-flex class from `H1`
  components/ui/typography/H1.tsx
Due: eslint --fix

Update comments section copy
  components/posts/Comments.tsx
Due: eslint --fix

Update copy
  content/posts/building-a-blog-with-next-13-contentlayer-and-tailwind.mdx
Due: none

Improve inline code appearance and code block titles
  lib/mdx.tsx
Due: eslint --fix

Remove publish dates
  content/posts/breaking-into-ai-as-a-web-developer.mdx
  content/posts/building-a-blog-with-next-13-contentlayer-and-tailwind.mdx
  content/posts/fully-type-safe-polymorphic-react-component.mdx
Due: none

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use stable Inter font
  components/ui/layout/Html.tsx
Due: eslint --fix

Delete Inter beta font
  assets/fonts/Inter.var.woff2
Due: none

Improve `H1` gradient
  components/ui/typography/H1.tsx
Due: eslint --fix

Limit newsletter width
  components/newsletter/Newsletter.tsx
Due: eslint --fix

Handle links in a more consistent way
  app/talks/[slug]/page.tsx
  app/workshops/[slug]/page.tsx
  components/appearances/AppearanceCard.tsx
  components/appearances/EventAppearances.tsx
  components/appearances/EventLocation.tsx
  components/appearances/EventWebsite.tsx
  components/footer/Footer.tsx
  components/home/Posts.tsx
  components/navigation/Navbar.tsx
  components/posts/BackLink.tsx
  components/posts/Comments.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
  components/ui/link/ActionLink.tsx
  components/ui/link/InlineLink.tsx
  components/ui/link/Link.tsx
  components/ui/social/SocialLink.tsx
  components/ui/typography/H1.tsx
  lib/mdx.tsx
Due: eslint --fix

Use `useIsScrollTop` hook in NavbarBorder
  components/navigation/NavbarBorder.tsx
Due: eslint --fix

Implement avatar animation on intersection
  app/layout.tsx
  components/avatar/Avatar.tsx
  components/home/Hero.tsx
  components/home/HeroAvatar.tsx
  components/intersection/Intersection.tsx
  components/intersection/IntersectionProvider.tsx
  components/navigation/Navbar.tsx
  components/navigation/NavbarAvatar.tsx
  components/providers/Providers.tsx
  hooks/useIsInView.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix typo
  components/providers/Providers.tsx
Due: eslint --fix

Fix intersection observer
  components/avatar/Avatar.tsx
  components/home/HeroAvatar.tsx
  components/intersection/Intersection.tsx
  components/intersection/IntersectionProvider.tsx
  components/navigation/NavbarAvatar.tsx
  hooks/useIntersection.ts
  hooks/useIsInView.ts
Due: eslint --fix

Remove line-clamp plugin
  package.json
  pnpm-lock.yaml
Due: prettier --write

Adjust transition delay for avatar
  components/home/HeroAvatar.tsx
  components/navigation/NavbarAvatar.tsx
Due: eslint --fix

Adjust transitions
  components/home/HeroAvatar.tsx
  components/navigation/NavbarAvatar.tsx
Due: eslint --fix

Adjust social link colors
  components/ui/social/SocialLink.tsx
Due: eslint --fix

Add fill color to social icons
  icons/GitHub.tsx
  icons/Instagram.tsx
  icons/LinkedIn.tsx
  icons/Twitter.tsx
Due: eslint --fix

Remove unnecessary nav element from `SocialList`
  components/ui/social/SocialList.tsx
Due: eslint --fix

Improve navbar link and action link styles
  components/avatar/Avatar.tsx
  components/home/Hero.tsx
  components/navigation/Navbar.tsx
  components/navigation/NavbarLink.tsx
  components/ui/forms/Button.tsx
  components/ui/layout/Feed.tsx
  components/ui/link/ActionLink.tsx
  hooks/useIsActivePathname.ts
Due: eslint --fix

Disallow shrinking of avatar in navbar
  components/navigation/Navbar.tsx
  components/navigation/NavbarAvatar.tsx
Due: eslint --fix

Update coding section of uses page
  content/pages/uses.mdx
Due: none

Add draft post about VSCode configuration
  content/posts/five-quick-tips-to-level-up-your-vscode-configuration.mdx
Due: none

Remove unused react-use
  package.json
  pnpm-lock.yaml
Due: prettier --write

Adjust delay on hero avatar transition
  components/home/HeroAvatar.tsx
Due: eslint --fix
