Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Fix reference key
  content/events/191126-frontend-con.mdx
Due: none

Update types
  src/types/generated/graphql.ts
Due: eslint --fix

Add date args
  gatsby-node.js
Due: prettier --write

Add more date args
  gatsby-node.js
Due: prettier --write

Use dateformate extension instead
  gatsby-node.js
Due: prettier --write

Render events into talk card
  src/components/talks/talks.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Update dependency @types/react to v16.9.2
  package.json
  yarn.lock
Due: prettier --write

Update graphqlcodegenerator monorepo to v1.6.0
  package.json
  yarn.lock
Due: prettier --write

Update graphqlcodegenerator monorepo to v1.6.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/lodash to v4.14.137
  package.json
  yarn.lock
Due: prettier --write

Split upcoming & past events
  package.json
  src/components/events.tsx
  src/components/talks/talks.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Adjust spacing
  src/components/events.tsx
Due: eslint --fix

Add zip field
  gatsby-node.js
Due: prettier --write

Update type
  gatsby-node.js
Due: prettier --write

Add isKeynote field
  gatsby-node.js
Due: prettier --write

Tune spacing
  src/components/events.tsx
Due: eslint --fix

Tune events component
  src/components/events.tsx
  src/pages/talks.mdx
Due: eslint --fix

Add talk events
  content/events/190405-jsfest.mdx
  content/events/190425-react-finland.mdx
  content/events/191005-ruhrjs.mdx
  content/events/191007-js-sphere-it.mdx
  content/events/191007-webcamp-zagreb.mdx
  content/events/191108-jsfest.mdx
  content/events/191126-frontend-con.mdx
Due: none

Pin dependency dayjs to 1.8.15
  package.json
  yarn.lock
Due: prettier --write

Update dependency husky to v3.0.4
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v9.2.2
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10.6.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v9.2.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10.6.1
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
