Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Update equipments
  src/pages/uses.mdx
Due: none

Update dependency @babel/preset-typescript to v7.8.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/react-dom to v16.9.5
  package.json
  yarn.lock
Due: prettier --write

Update drawing the line talk description
  content/talks/drawing-the-line-between-3rd-party-and-custom-code.mdx
Due: none

Update again
  content/talks/drawing-the-line-between-3rd-party-and-custom-code.mdx
Due: none

Update dependency eslint-plugin-import to v2.20.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/styled-components to v4.4.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency husky to v4
  package.json
  yarn.lock
Due: prettier --write

Update mdx monorepo to v1.5.7
  package.json
  yarn.lock
Due: prettier --write

Update dependency @svgr/webpack to v5.2.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v10
  package.json
  yarn.lock
Due: prettier --write

Update dependency styled-components to v5
  package.json
  yarn.lock
Due: prettier --write

Update dependency typescript to v3.8.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/aws-lambda to v8.10.46
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v13.27.0
  package.json
  yarn.lock
Due: prettier --write

Update Apollo GraphQL packages
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-react to v7.19.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency dayjs to v1.8.22
  package.json
  yarn.lock
Due: prettier --write

Update graphqlcodegenerator monorepo to v1.13.0
  package.json
  yarn.lock
Due: prettier --write

Update typescript-eslint monorepo to v2.23.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v13.9.1
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Delete renovate.json
  renovate.json
Due: prettier --write

Update lock file
  yarn.lock
Due: none

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Updates
  gatsby-config.js
  src/components/footer.tsx
  src/pages/legal-notice.mdx
  src/pages/talks.mdx
  src/pages/workshops.mdx
  src/theme.ts
Due: eslint --fix, prettier --write

Updates
  package.json
  yarn.lock
Due: prettier --write

feat: add wish list
  static/_redirects
Due: none

Update _redirects
  static/_redirects
Due: none

Reconfig tsconfig
  package.json
  pnpm-lock.yaml
  remix.env.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Use server.ts
  server.ts
Due: eslint --fix

Add and run prettier
  .prettierignore
  .prettierrc
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/index.tsx
  package.json
  pnpm-lock.yaml
  remix.config.js
  server.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add prettier auto sort import plugin
  .prettierrc
  package.json
  pnpm-lock.yaml
  server.ts
Due: eslint --fix, prettier --write

Add linting config and run linter
  .eslintignore
  .eslintrc
  app/entry.server.tsx
  package.json
  pnpm-lock.yaml
  remix.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Upgrade linting config
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix remix config
  .eslintignore
  .gitignore
  remix.config.cjs
  tsconfig.json
Due: prettier --write

Add `tailwindcss`
  app/root.tsx
  app/styles/app.css
  package.json
  pnpm-lock.yaml
  styles/app.css
  tailwind.config.cjs
Due: eslint --fix, prettier --write

Ignore `/app/styles` from git
  .eslintignore
  .gitignore
  app/styles/app.css
Due: none

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write
