Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Switch to Next.js
  .eslintrc
  .gitignore
  .prettierrc
  README.md
  app/entry.client.tsx
  app/entry.server.tsx
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  app/root.tsx
  app/routes/index.tsx
  next.config.js
  package.json
  pages/api/hello.ts
  pnpm-lock.yaml
  postcss.config.js
  public/favicon.ico
  public/vercel.svg
  remix.config.cjs
  server.ts
  styles/app.css
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Clear content
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  assets/apple-touch-icon.png
  assets/favicon.png
  package.json
  pages/api/hello.ts
  pnpm-lock.yaml
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/favicon.ico
  public/site.webmanifest
  public/vercel.svg
  tailwind.config.js
Due: eslint --fix, prettier --write

Add custom font
  app/globals.css
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint --fix, prettier --write

Upgrade autoprefixer
  package.json
  pnpm-lock.yaml
Due: prettier --write

Install official Tailwind plugins
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: prettier --write

Upgrade node types
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add initial page structure
  app/about/page.tsx
  app/articles/page.tsx
  app/globals.css
  app/layout.tsx
  app/main.css
  app/page.tsx
  app/speaking/page.tsx
  app/workshops/page.tsx
  components/NavLink.tsx
  components/navigation/Navbar.tsx
  components/ui/Navbar.tsx
  hooks/useIsActivePathname.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint --fix, prettier --write

Initial titles
  app/about/page.tsx
  app/articles/page.tsx
  app/journal/page.tsx
  app/layout.tsx
  app/legal-notice/page.tsx
  app/page.tsx
  app/speaking/page.tsx
  app/workshops/page.tsx
  components/footer/Footer.tsx
  components/navigation/Navbar.tsx
  package.json
Due: eslint --fix, prettier --write

Adjust font sizes
  tailwind.config.js
Due: prettier --write

Specify font weight and subsets
  app/layout.tsx
Due: eslint --fix

Tweak font
  app/about/page.tsx
  app/layout.tsx
  app/main.css
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint --fix, prettier --write

Update lock file
  pnpm-lock.yaml
Due: none

Update lockfile
  pnpm-lock.yaml
Due: none

Use head file
  app/head.tsx
  app/layout.tsx
Due: eslint --fix

Remove flag to fix build
  tsconfig.json
Due: prettier --write

Initial layout & styling
  .prettierignore
  app/head.tsx
  app/layout.tsx
  app/main.css
  app/page.tsx
  assets/photo.jpg
  components/NavLink.tsx
  components/icons/GitHub.tsx
  components/icons/Instagram.tsx
  components/icons/LinkedIn.tsx
  components/icons/Twitter.tsx
  components/navigation/Navbar.tsx
  components/ui/Body.tsx
  components/ui/HeroSection.tsx
  components/ui/HeroSectionSocialIcon.tsx
  components/ui/HeroSectionSocialLink.tsx
  components/ui/HeroSectionSocialList.tsx
  components/ui/Main.tsx
  components/ui/Navbar.tsx
  components/ui/NavbarLink.tsx
  components/ui/ScreenReaderText.tsx
  helpers/queryInstagramPhotos.ts
  hooks/useIsActivePathname.ts
  hooks/useIsScrollTop.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  tailwind.config.js
  utils/isTruthy.ts
Due: eslint --fix, prettier --write

Update photos feed
  app/page.tsx
  components/ui/Body.tsx
  components/ui/HeroSection.tsx
  components/ui/HeroSectionSocialLink.tsx
  components/ui/HeroSectionSocialList.tsx
  components/ui/Navbar.tsx
  helpers/queryInstagramPhotos.ts
  next.config.js
Due: eslint --fix, prettier --write

Home page updates
  app/page.tsx
  components/home/ContentSection.tsx
  components/home/HeroSection.tsx
  components/home/PhotosSection.tsx
  components/navigation/Navbar.tsx
  components/ui/HeroSection.tsx
  components/ui/HeroSectionPhoto.tsx
  components/ui/PhotosSection.tsx
  components/ui/PhotosSectionPhoto.tsx
  utils/instagram.ts
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add .eslintrc.js
  .eslintrc.js
Due: prettier --write

Adjust linting config
  .eslintignore
  .eslintrc.js
  package.json
  prettier.config.js
  tsconfig.json
Due: prettier --write

Run format
  app/about/page.tsx
  app/layout.tsx
  components/home/PhotosSection.tsx
  hooks/useIsActivePathname.ts
  utils/instagram.ts
Due: eslint --fix

Match casing
  .gitignore
Due: none

Use path alias
  app/layout.tsx
  app/manifest.webmanifest/route.tsx
  app/page.tsx
  components/home/HeroSection.tsx
  components/navigation/Navbar.tsx
Due: eslint --fix

Use `NextResponse` directly
  app/manifest.webmanifest/route.tsx
Due: eslint --fix

Add temporary workaround for async JSX
  app/page.tsx
Due: eslint --fix

Refactor posts
  app/posts/[slug]/page.tsx
  components/home/PostsSection.tsx
  components/ui/home/Posts.tsx
  utils/post.ts
Due: eslint --fix

Configer path alias
  tsconfig.json
Due: prettier --write

Update content
  content/events/170125-react-zurich.mdx
  content/events/170503-vienna-js.mdx
  content/events/181118-js-poland.mdx
  content/posts/2019-year-in-review/index.mdx
  content/posts/how-to-disable-code-splitting-in-webpack/index.mdx
  content/talks/ui-ux-challenges-of-web3-and-dapps.md
  content/talks/ui-ux-challenges-of-web3-and-dapps.mdx
  content/workshops/building-web3-dapps-with-react.mdx
  content/workshops/graphql-for-js-developers.md
  content/workshops/graphql-for-js-developers.mdx
  content/workshops/react-and-graphql-from-zero-to-production.mdx
  content/workshops/ui-ux-challenges-of-web3-and-dapps.mdx
Due: prettier --write

Add `Post` component
  components/ui/home/Post.tsx
Due: eslint --fix

Integrate Prisma
  .env
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, prettier --write

Add initial Prisma migration
  prisma/migrations/20230311064745_initial/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

Lower case command line argument
  package.json
Due: prettier --write

Fix missing `name` import from constants
  app/manifest.webmanifest/route.tsx
Due: eslint --fix
