Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

More work on post header
  src/components/header.tsx
  src/components/heading.tsx
  src/components/menu.tsx
  src/components/text.tsx
  src/pages/index.tsx
  src/templates/post.jsx
  src/theme.ts
Due: eslint --fix

Define tablet heading font-size
  src/components/heading.tsx
Due: eslint --fix

Add dummy content
  src/posts/hello-world/index.md
Due: prettier --write

Update grapqhl types
  src/types/generated/graphql.ts
Due: eslint --fix

Increase scroll threshold
  src/components/header.tsx
Due: eslint --fix

Add more dummy content
  src/posts/hello-world/index.md
Due: prettier --write

Remove gatsby-remark-unwrap-images
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Change maxWidth of image in md to 640px
  gatsby-config.js
Due: prettier --write

Fix image bug
  gatsby-config.js
  package.json
  src/types/generated/graphql.ts
  yarn.lock
Due: eslint --fix, prettier --write

Switch to mdx and add more content
  src/posts/hello-world/index.mdx
Due: none

Move post header to its own component
  gatsby-node.js
  src/posts/hello-world/index.mdx
  src/templates/post.jsx
  src/templates/post/header.jsx
  src/templates/post/index.jsx
Due: prettier --write

Fix initial transition when starting in dark-mode
  src/components/dark-mode-context.tsx
Due: eslint --fix

Initial styled MDX components
  src/components/heading.tsx
  src/posts/hello-world/index.mdx
  src/templates/post/header.jsx
  src/templates/post/index.jsx
  src/types/generated/graphql.ts
Due: eslint --fix

Fix bottom gap
  src/components/layout.tsx
Due: eslint --fix

Add typography styles
  src/components/header.tsx
  src/components/heading.tsx
  src/components/layout.tsx
  src/components/menu.tsx
  src/posts/hello-world/index.mdx
  src/templates/post/header.jsx
  src/templates/post/index.jsx
  src/theme.ts
Due: eslint --fix

Pin dependency gatsby-transformer-remark to 2.6.6
  package.json
  yarn.lock
Due: prettier --write

Add svgo properties
  .svgo.yml
Due: prettier --write

Use camera icon for cover author
  src/icons/camera.svg
  src/templates/post/header.jsx
  src/types/generated/graphql.ts
Due: eslint --fix

Center main navigation
  src/components/dark-mode-button.tsx
  src/components/header.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Add link component to mdx provider
  src/components/header.tsx
  src/components/link.tsx
  src/components/menu.tsx
  src/templates/post/index.jsx
  src/theme.ts
Due: eslint --fix

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Add blockquote to MDX provider
  src/templates/post/index.jsx
Due: none

Add initial code block
  package.json
  src/posts/hello-world/index.md
  src/templates/post/index.jsx
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-import to v2.18.2
  package.json
  yarn.lock
Due: prettier --write

Add code block highlighting and styling
  src/posts/hello-world/index.md
  src/templates/post/index.jsx
Due: prettier --write

Remove last empty line
  src/templates/post/index.jsx
Due: none

Fix correct highlighted line
  src/templates/post/index.jsx
Due: none

Remove initial dark mode
  src/components/dark-mode-context.tsx
Due: eslint --fix

Fix code block font
  src/templates/post/index.jsx
Due: none

Switch to a bit thinner font-weight
  src/theme.ts
Due: eslint --fix

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Add @mdx-js/react type declarations
  src/types/mdx.d.ts
Due: eslint --fix

Clean up folder structure
  src/components/layout.tsx
  src/components/link.tsx
  src/components/mdx/blockquote.js
  src/components/mdx/break.js
  src/components/mdx/code.js
  src/components/mdx/headings.js
  src/components/mdx/index.js
  src/components/mdx/link.js
  src/components/mdx/list-item.js
  src/components/mdx/ordered-list.js
  src/components/mdx/paragraph.js
  src/components/mdx/unordered-list.js
  src/templates/post/index.jsx
Due: eslint --fix, prettier --write

Update typescript-eslint monorepo to v1.13.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v10
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
