Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add subtle animation
  src/components/menu.tsx
Due: eslint --fix

Fix padding
  src/components/layout.tsx
Due: eslint --fix

Handle switch between mobile and un-animated desktop menu
  src/components/menu.tsx
Due: eslint --fix

Remove unused pose
  src/components/menu.tsx
Due: eslint --fix

Add header drop shadow
  package.json
  src/components/global-style.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/theme.ts
  yarn.lock
Due: eslint --fix, prettier --write

Header tweaks
  .eslintrc.js
  src/components/header.tsx
  src/components/link.tsx
  src/components/menu.tsx
  src/theme.ts
Due: eslint --fix, prettier --write

Add initial intro section
  src/components/photo.tsx
  src/images/gatsby-astronaut.png
  src/images/photo.jpg
  src/pages/index.tsx
  src/theme.ts
Due: eslint --fix

Add initial intro section
  src/components/header.tsx
  src/components/layout.tsx
  src/components/menu.tsx
  src/pages/index.tsx
  src/theme.ts
Due: eslint --fix

Add lazy scroll to menu
  src/components/menu.tsx
Due: eslint --fix

Add initial footer
  src/components/footer.tsx
  src/components/layout.tsx
  src/components/link.tsx
  src/components/menu.tsx
  src/icons/github.svg
  src/icons/instagram.svg
  src/icons/twitter.svg
Due: eslint --fix

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Tweak tagline line height
  src/pages/index.tsx
  src/theme.ts
Due: eslint --fix

Update generated graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Use meta data
  gatsby-config.js
  src/components/footer.tsx
  src/components/header.tsx
  src/components/seo.tsx
  src/pages/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix, prettier --write

Remove header opacity on hover
  src/components/header.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Upgrade node typings
  package.json
  yarn.lock
Due: prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

Pin dependencies
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.11
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint to v6
  package.json
  yarn.lock
Due: prettier --write

Configure renovate
  renovate.json
Due: prettier --write

Update dependency @types/node to v12.6.2
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/styled-components to v4.1.17
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v9.8.3
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v9.9.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v9.10.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency lint-staged to v9.2.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.13
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/styled-components to v4.1.18
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v9.11.0
  package.json
  yarn.lock
Due: prettier --write

Implement initial blog
  gatsby-config.js
  gatsby-node.js
  package.json
  src/posts/hello-world/index.md
  src/posts/hello-world/salty_egg.jpg
  src/templates/post.jsx
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
