Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove redundant rule
  .eslintrc.js
Due: prettier --write

Create newsletter form on homepage
  components/home/Appearances.tsx
  components/home/Newsletter.tsx
  components/home/NewsletterForm.tsx
  components/ui/forms/Button.tsx
  components/ui/forms/Input.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Body.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
Due: eslint --fix

Move newsletter form content to `NewsletterForm` component
  components/home/Newsletter.tsx
  components/home/NewsletterForm.tsx
Due: eslint --fix

Fix code block padding
  components/ui/mdx/MDXContent.tsx
Due: eslint --fix

Add newsletter subscription pages
  app/about/page.tsx
  app/legal-notice/page.tsx
  app/subscribe/confirm/page.tsx
  app/subscribe/route.ts
  app/subscribe/thank-you/page.tsx
  components/ui/layout/Page.tsx
  content/pages/about.mdx
  content/pages/legal-notice.mdx
  content/pages/subscribe/confirm.mdx
  content/pages/subscribe/thank-you.mdx
  contentlayer.config.ts
Due: eslint --fix

Push missing helpers for newsletter subscription
  lib/newsletter.ts
Due: eslint --fix

Improve focus and add disabled state to form elements
  components/home/NewsletterForm.tsx
  components/ui/forms/Button.tsx
  components/ui/forms/Input.tsx
Due: eslint --fix

Fix redirect after subscribing to newsletter
  components/home/NewsletterForm.tsx
Due: eslint --fix

Improve typo
  content/pages/subscribe/confirm.mdx
Due: none

Fix newsletter form
  app/subscribe/route.ts
  components/home/NewsletterForm.tsx
  content/pages/subscribe/confirm.mdx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add proper styling to link focus states
  components/footer/Footer.tsx
  components/home/Posts.tsx
  components/navigation/Navbar.tsx
  components/ui/elements/Link.tsx
  components/ui/forms/Input.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
  components/ui/social/SocialLink.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove redundant `[slug]/page.tsx`
  app/[slug]/page.tsx
Due: eslint --fix

Turn off next/no-html-link-for-pages
  .eslintrc.js
Due: prettier --write

Create initial appearance pages
  app/appearances/[slug]/page.tsx
  app/posts/[slug]/page.tsx
  components/ui/elements/DateDisplay.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Page.tsx
  lib/events.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fix focus styles for links
  components/ui/elements/Link.tsx
  components/ui/mdx/MDXContent.tsx
Due: eslint --fix

Use `Page` component on posts page
  app/posts/page.tsx
Due: eslint --fix

Add improvements to the appearance page
  app/appearances/[slug]/page.tsx
  components/posts/PostsFeed.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Page.tsx
  lib/events.ts
Due: eslint --fix

Fix `H1` font size on mobile
  components/ui/typography/H1.tsx
Due: eslint --fix

Fix navbar z-index
  components/navigation/Navbar.tsx
Due: eslint --fix

Improve appearance page
  app/appearances/[slug]/page.tsx
  components/ui/elements/Badge.tsx
  components/ui/elements/DateDisplay.tsx
  components/ui/elements/Link.tsx
  components/ui/layout/Card.tsx
  components/ui/social/SocialLink.tsx
  lib/events.ts
Due: eslint --fix

Render focus ring only when using keyboard
  components/ui/elements/Link.tsx
  components/ui/forms/Button.tsx
Due: eslint --fix

Embed YouTube videos in appearance pages
  app/appearances/[slug]/page.tsx
  components/ui/elements/YouTube.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: eslint --fix, prettier --write

Render the end date if it's different than the start date
  app/appearances/[slug]/page.tsx
  lib/events.ts
Due: eslint --fix

Add more colors to `Badge` component
  components/ui/elements/Badge.tsx
Due: eslint --fix

Create helper to correctly format place names
  app/appearances/[slug]/page.tsx
  components/appearances/AppearancesFeed.tsx
  components/home/Appearances.tsx
  lib/place.ts
Due: eslint --fix

Improve query function names
  app/appearances/[slug]/page.tsx
  components/appearances/AppearancesFeed.tsx
  components/home/Appearances.tsx
  lib/events.ts
Due: eslint --fix

Improve namings
  app/appearances/[slug]/page.tsx
  components/appearances/AppearancesFeed.tsx
  components/home/Appearances.tsx
  lib/events.ts
  lib/place.ts
Due: eslint --fix

Componentize appearance page
  app/appearances/[slug]/page.tsx
  components/appearances/Appearance
  components/appearances/AppearanceCard.tsx
  components/appearances/EventDate.tsx
  components/appearances/EventLocation.tsx
Due: eslint --fix

Add updates to the appearance page
  app/appearances/[slug]/page.tsx
  app/appearances/page.tsx
  components/appearances/EventAppearances.tsx
  components/home/Posts.tsx
  components/ui/elements/ActionLink.tsx
  components/ui/elements/YouTube.tsx
  components/ui/layout/Article.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Page.tsx
  components/ui/mdx/MDXContent.tsx
  components/ui/mdx/MDXRemoteContent.tsx
  components/ui/typography/Paragraph.tsx
  lib/events.ts
  lib/mdx.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix merge conflict in `app/appearances/[slug]/page.tsx`
  app/appearances/[slug]/page.tsx
Due: eslint --fix

Add chevron to action links
  components/appearances/EventAppearances.tsx
  components/navigation/Navbar.tsx
  components/ui/elements/ActionLink.tsx
Due: eslint --fix

Initial talk page
  app/appearances/page.tsx
  app/talks/[slug]/page.tsx
  components/appearances/Appearance
  components/appearances/AppearanceCard.tsx
  components/appearances/AppearancesFeed.tsx
  components/appearances/EventAppearances.tsx
  components/ui/elements/TagCloud.tsx
  components/ui/layout/Card.tsx
  components/ui/layout/Feed.tsx
  components/ui/layout/Page.tsx
  lib/talks.ts
Due: eslint --fix

Create talks page and add improvements to apperaances page
  app/appearances/[slug]/page.tsx
  app/appearances/page.tsx
  app/talks/[slug]/page.tsx
  app/talks/page.tsx
  components/appearances/AppearancesFeed.tsx
  components/appearances/EventLead.tsx
  components/appearances/EventLocation.tsx
  components/appearances/EventWebsite.tsx
  components/posts/PostsFeed.tsx
  components/talks/TalkAppearances.tsx
  components/talks/TalksFeed.tsx
  components/ui/elements/ActionLink.tsx
  components/ui/layout/Feed.tsx
  lib/events.ts
  lib/talks.ts
Due: eslint --fix

Create workshop pages
  app/layout.tsx
  app/workshops/[slug]/page.tsx
  app/workshops/page.tsx
  components/appearances/AppearancesFeed.tsx
  components/talks/TalkAppearances.tsx
  components/talks/TalksFeed.tsx
  lib/workshops.ts
Due: eslint --fix

Fix static params for workshop pages
  app/workshops/[slug]/page.tsx
Due: eslint --fix

Improve workshops & talks pages
  app/layout.tsx
  app/talks/page.tsx
  app/workshops/[slug]/page.tsx
  app/workshops/page.tsx
  components/appearances/AppearanceCard.tsx
  components/appearances/EventAppearances.tsx
  components/ui/elements/Badge.tsx
  components/ui/layout/Feed.tsx
  lib/events.ts
  lib/workshops.ts
  prisma/schema.prisma
Due: eslint --fix

Improve button click feedback
  components/ui/forms/Button.tsx
Due: eslint --fix
