Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Update graphql types
  src/types/generated/graphql.ts
Due: eslint --fix

Pin dependency typescript to 3.5.3
  package.json
  yarn.lock
Due: prettier --write

Fix menu button flash on initial load
  src/components/header.tsx
  src/components/menu-button.tsx
Due: eslint --fix

Update dependency gatsby to v2.13.24
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.25
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.6.4
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.6.5
  package.json
  yarn.lock
Due: prettier --write

Update dependency react-use to v9.12.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.6.6
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.6.7
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.27
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/node to v12.6.8
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby to v2.13.28
  package.json
  yarn.lock
Due: prettier --write

Update dependency husky to v3.0.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency gatsby-plugin-mdx to v1.0.14
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint-plugin-import to v2.18.1
  package.json
  yarn.lock
Due: prettier --write

Improve naming
  src/components/photo.tsx
Due: eslint --fix

Use hook
  src/components/photo.tsx
Due: eslint --fix

Update lock file
  yarn.lock
Due: none

Use h1 as default heading
  src/components/heading.tsx
Due: eslint --fix

Tweak run scripts
  package.json
Due: prettier --write

Improve alias
  src/components/photo.tsx
Due: eslint --fix

Process a bigger photo
  src/components/photo.tsx
Due: eslint --fix

Add front matter data
  src/components/text.tsx
  src/posts/hello-world/index.md
  src/templates/post.jsx
  src/theme.ts
Due: eslint --fix, prettier --write
