Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

Remove start script
  package.json
Due: prettier --write

Fix HTML attribute warning
  src/components/dark-mode-button.tsx
Due: eslint --fix

Allow unused vars along with rest
  .eslintrc.js
Due: prettier --write

Remove eslint rule
  .eslintrc.js
Due: prettier --write

Center button content
  src/components/button.tsx
Due: eslint --fix

Remove typescript-checker plugin
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Upgrade gatsby packages
  package.json
  yarn.lock
Due: prettier --write

Initial menu button animation
  package.json
  src/components/header.tsx
  src/components/menu-button.tsx
  src/components/menu-toggle-context.tsx
  src/types/generated/graphql.ts
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade types
  package.json
  yarn.lock
Due: prettier --write

Upgrade styled-components packages
  package.json
  yarn.lock
Due: prettier --write

Upgrade graphql
  package.json
  yarn.lock
Due: prettier --write

Upgrade graphql-codegen packages
  package.json
  yarn.lock
Due: prettier --write

Upgrade precommit packages
  package.json
  yarn.lock
Due: prettier --write

Upgrade svgr
  package.json
  yarn.lock
Due: prettier --write

Upgrade typescript-eslint packages
  package.json
  yarn.lock
Due: prettier --write

Upgrade eslint packages
  package.json
  yarn.lock
Due: prettier --write

Upgrade babel-plugin-styled-components
  package.json
  yarn.lock
Due: prettier --write

Upgrade gatsby
  package.json
  yarn.lock
Due: prettier --write

Upgrade lint-staged & husky
  package.json
  yarn.lock
Due: prettier --write

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Add ms package
  package.json
  yarn.lock
Due: prettier --write

Add sequenced transition via keyframes
  src/components/menu-button.tsx
Due: eslint --fix

Convert dark mode switch to use react-pose
  src/components/dark-mode-button.tsx
Due: eslint --fix

Export breakpoint values
  src/theme.ts
Due: eslint --fix

Remove optional type
  src/theme.ts
Due: eslint --fix

Don't render menu button on desktop
  package.json
  src/components/header.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Use right title font-size on desktop
  src/components/header.tsx
Due: eslint --fix

Animate link colors only
  src/components/link.tsx
Due: eslint --fix

Add initial desktop header height
  src/components/header.tsx
Due: eslint --fix

Center header title
  src/components/header.tsx
Due: eslint --fix

Simplify menu button animation
  src/components/menu-button.tsx
Due: eslint --fix

Fix mispositioned dark mode icons
  src/components/dark-mode-button.tsx
Due: eslint --fix

Make menu button strokes longer
  src/components/menu-button.tsx
Due: eslint --fix

Add ESLint rule to self close components
  .eslintrc.js
Due: prettier --write

Implement initial mobile menu
  src/components/global-style.tsx
  src/components/header.tsx
  src/components/layout.tsx
  src/components/menu-button.tsx
  src/components/menu-toggle-context.tsx
  src/components/menu.tsx
  src/theme.ts
Due: eslint --fix
