Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

Fix lint
  components/avatar/avatar.tsx
  components/ui/elements/icon-button.tsx
  components/ui/forms/button.tsx
Due: eslint --fix

Upgrade package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix figcaption
  components/home/hero-avatar.tsx
  lib/mdx/components.tsx
Due: eslint --fix

More figcaption fix
  lib/mdx/components.tsx
Due: eslint --fix

Upgrade packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update about page
  content/pages/about.mdx
Due: none

Update uses page
  content/pages/uses.mdx
Due: none

Add font size post
  content/posts/font-size.mdx
  public/images/font-size/about.png
  public/images/font-size/home.png
Due: none

Update opengraph image
  app/opengraph-image.png
  app/posts/[slug]/opengraph-image.tsx
  public/images/og-content.png
Due: eslint --fix

OG tweaks
  app/posts/[slug]/opengraph-image.tsx
Due: eslint --fix

Remove turbopack from build script
  package.json
Due: prettier --write

More OG tweaks
  app/posts/[slug]/meta/route.ts
  app/posts/[slug]/opengraph-image.tsx
  eslint.config.mjs
  next.config.ts
Due: eslint --fix

Switch to WOFF fonts
  app/posts/[slug]/opengraph-image.tsx
Due: eslint --fix

Remove horizontal rule
  content/posts/font-size.mdx
Due: none

New about copy
  content/pages/about.mdx
Due: none

Fix meta display in appearances
  components/ui/layout/card.tsx
  components/ui/layout/feed.tsx
Due: eslint --fix
