Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,json,md,yml}": ["prettier --write", "git add"]
}

move MCP API endpoint from /api/mcp to /mcp
  app/mcp/route.ts
Due: eslint --fix

fix MCP API endpoint - move back to /api/mcp to avoid conflict with page
  app/api/mcp/route.ts
  content/pages/mcp.mdx
Due: eslint --fix

restructure MCP routes: /mcp for API, /mcp/about for documentation
  app/mcp/about/page.tsx
  app/mcp/route.ts
  content/pages/mcp.mdx
  content/posts/mcp-explained.mdx
Due: eslint --fix

refactor: simplify MCP core function with better type safety
  lib/mcp/core.ts
Due: eslint --fix

refactor: improve matchesEntry function with functional approach
  lib/mcp/core.ts
Due: eslint --fix

refactor: simplify matchesEntry and remove type assertions
  lib/mcp/core.ts
Due: eslint --fix

refactor: simplify MCP file structure - move core.ts to mcp.ts
  CLAUDE.md
  app/api/mcp/route.ts
  app/mcp/about/page.tsx
  app/mcp/route.ts
  lib/mcp.ts
  middleware.ts
  scripts/mcp-server.ts
  tests/mcp-core.test.ts
  tests/mcp-route.test.ts
Due: eslint --fix, prettier --write

Add AGENTS.md as canonical documentation for automation agents
  AGENTS.md
  CLAUDE.md
  CURSOR.md
Due: prettier --write

Enhance MCP server with interactive UI resources and improved architecture
  app/api/mcp/route.ts
  app/mcp/route.ts
  lib/mcp.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  scripts/mcp-server.ts
Due: eslint --fix, prettier --write

Improve code formatting and content presentation
  app/mcp/about/page.tsx
  components/mcp/mcp-content.tsx
  components/ui/elements/alert.tsx
  components/ui/mdx/mdx-content.tsx
  content/pages/mcp.mdx
  content/posts/mcp-explained.mdx
  tests/mcp-core.test.ts
  tests/mcp-route.test.ts
Due: eslint --fix

refactor: migrate to Vitest and reorganize test structure
  app/mcp/route.test.ts
  lib/constants.test.ts
  lib/mcp.test.ts
  lib/place.test.ts
  lib/utils.test.ts
  tests/mcp-core.test.ts
  vitest.config.ts
Due: eslint --fix

deps: update dependencies and test scripts
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update development guidelines and add CI workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
  AGENTS.md
Due: prettier --write

Add Claude Code GitHub Workflow (#612)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --write

fix: correct Zod schema syntax in MCP route
  app/mcp/route.ts
Due: eslint --fix

test: improve MCP tests and use Prisma enums
  lib/mcp.test.ts
  lib/mcp.ts
Due: eslint --fix

deps: remove unused @mcp-ui/server dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: update workflows and add MCP configuration
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .mcp.json
Due: prettier --write

refactor: code formatting and minor improvements
  AGENTS.md
  app/mcp/route.test.ts
  app/posts/[slug]/opengraph-image.tsx
  lib/mdx/read-mdx-file.ts
  lib/utils.test.ts
  scripts/mcp-server.ts
Due: eslint --fix, prettier --write

refactor: remove duplicate test case
  lib/mcp.test.ts
Due: eslint --fix

Update agent guidance to avoid conventional commits
  AGENTS.md
Due: prettier --write
