Repository glennreyes/glennreyes.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add initial /uses content
  src/pages/uses.mdx
Due: none

Update events data
  content/events/190424-react-finland.mdx
  content/events/190911-upleveled.mdx
Due: none

Update upleveled event times
  content/events/190911-upleveled.mdx
Due: none

Update dependency graphql to v14.5.5
  package.json
  yarn.lock
Due: prettier --write

Update gatsby monorepo
  package.json
  yarn.lock
Due: prettier --write

Initial loading indicators
  src/components/books/books.tsx
  src/components/books/grid.tsx
Due: eslint --fix

Add shimmer
  src/components/books/grid.tsx
Due: eslint --fix

Fixes
  src/components/books/book.tsx
  src/components/books/grid.tsx
Due: eslint --fix

Move loading book component
  src/components/books/grid.tsx
  src/components/books/loading.tsx
  src/components/loading-indicator.tsx
Due: eslint --fix

Scroll to top when clicking on title at home
  package.json
  src/components/header.tsx
  src/components/layout.tsx
  src/hooks/useAnchor.ts
  src/pages/index.tsx
  src/templates/default.tsx
  src/templates/post/index.tsx
  src/templates/talk.tsx
  src/templates/workshop.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Add workshops to front page
  src/components/blog/posts.tsx
  src/components/books/books.tsx
  src/components/talks/talks.tsx
  src/components/workshops/workshops.tsx
  src/pages/index.tsx
  src/types/generated/graphql.ts
Due: eslint --fix

Apply card grid everywhere
  src/components/card-grid.tsx
  src/components/card.tsx
  src/components/cards.tsx
  src/components/home/card-grid.tsx
  src/pages/index.tsx
Due: eslint --fix

Link front page headings
  src/components/home/heading.tsx
  src/pages/index.tsx
Due: eslint --fix

Adjust card body text color
  src/components/card-body.tsx
Due: eslint --fix

Nits
  src/pages/uses.mdx
Due: none

Fix event card in dark mode
  src/theme.ts
Due: eslint --fix

Update dependency eslint to v6.4.0
  package.json
  yarn.lock
Due: prettier --write

Update _redirects
  static/_redirects
Due: none

Add netlify config into netlify.toml
  netlify.toml
Due: none

Add npm-run-all
  package.json
  yarn.lock
Due: prettier --write

Fix start scripts
  package.json
Due: prettier --write

Fix build script
  package.json
Due: prettier --write

Tweak run-scripts
  package.json
Due: prettier --write

Update node version
  netlify.toml
Due: none

Fix empty state
  src/components/books/grid.tsx
Due: eslint --fix

Update dependency graphql to v14.5.6
  package.json
  yarn.lock
Due: prettier --write

Update dependency @apollo/react-hooks to v3.1.1
  package.json
  yarn.lock
Due: prettier --write

Add initial resume
  src/pages/resume.mdx
Due: none

Update typescript-eslint monorepo to v2.3.0
  package.json
  yarn.lock
Due: prettier --write

Link intro to about page
  src/pages/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,md,yml}
